[2019-06-05 15:02] Lanayx opened #1 "Add proper license"
Need to analyze popular OSS licenses, choose the most appropriate and add to the repository

[2019-06-05 15:24] Rizzen commented on #1
I guess the best option is MIT. It imposes no restriction to users and also provides no warranties of any kind. Most of .NET Foundation projects use MIT.

[2019-06-05 15:40] FoggyFinder commented on #1
My vote for MIT also

[2019-06-05 19:22] Rizzen opened #4 "Add CI build + unit tests check"
It might be AppVeyor, Travis or Azure Pipelines.

[2019-06-05 19:46] #1 closed

[2019-06-06 09:05] Lanayx opened #5 "Add unit tests so Consumer and Producer can't be created without initializing required fields"

[2019-06-06 09:56] Lanayx opened #6 "Add HttpLookupService implementations for basic functions"
- [ ] UpdateServiceUrl
- [ ] GetBroker
- [ ] GetPartitionedTopicMetadata
- [ ] GetServiceUrl
- [ ] GetTopicsUnderNamespace

[2019-06-08 10:25] Lanayx opened #11 "Add BinaryProtoLookupService implementations for basic functions"
- [x] UpdateServiceUrl
- [x] GetBroker
- [x] GetPartitionedTopicMetadata
- [x] GetServiceUrl
- [x] GetTopicsUnderNamespace

https://pulsar.apache.org/docs/en/develop-binary-protocol/#service-discovery

[2019-06-10 19:31] vikashsingh009 opened #12 "index out of bound"
i  have  running  pulsar  broker  on  remote  host
  ,now  i  am  trying  to  connect  to local visual  studio  getting  below  exception

i  have  used

new PulsarClientBuilder()
                    .WithServiceUrl("pulsar://192.168.1.248:6650")
                    .Build();
{System.IndexOutOfRangeException: Index was outside the bounds of the array.
   at Utf8Json.JsonReader.CreateParsingExcepti

[2019-06-10 19:47] Lanayx commented on #12
@vikashsingh009 Sorry, this project is in early development stage, please come back later

[2019-06-10 19:47] #12 closed

[2019-06-11 07:39] Lanayx opened #13 "Implement PulsarDecoder"
[Reference](https://github.com/apache/pulsar/blob/master/pulsar-common/src/main/java/org/apache/pulsar/common/protocol/PulsarDecoder.java)

You can with PARTITIONED_METADATA_RESPONSE, SEND_RECEIPT, since those are already in use

[2019-06-11 07:45] Lanayx opened #14 "Implement Commands seriralization"
[Reference](https://github.com/apache/pulsar/blob/master/pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java)

You can start from newPartitionMetadataRequest and newSend because those are already in use

[2019-06-11 07:49] Lanayx opened #15 "Implement connection management"
In java version connection management is separated in three files:
[PulsarHandler](https://github.com/apache/pulsar/blob/master/pulsar-common/src/main/java/org/apache/pulsar/common/protocol/PulsarHandler.java)
[ConnectionHandler](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java)
[ClientCnx](https://github.com/apache/pulsa

[2019-06-11 07:53] Lanayx opened #16 "Implement connection initiation workflow"
_CommandConnect_ command and _CommandConnected_ event need to be implemented

https://pulsar.apache.org/docs/en/develop-binary-protocol/#connection-establishment

[2019-06-11 07:55] Lanayx opened #17 "Implement Producer workflow"
- [x] _CommandProducer_
- [x] _CommandProducerSuccess_
- [x] _CommandSend_
- [x] _CommandSendReceipt_
- [x] _CloseProducer_

https://pulsar.apache.org/docs/en/develop-binary-protocol/#producer

[2019-06-11 14:14] Lanayx commented on #6
Closing as won't do. Could be reopened later if needed

[2019-06-11 14:14] #6 closed

[2019-06-14 08:13] Lanayx commented on #5
Closed with #18

[2019-06-14 08:13] #5 closed

[2019-06-14 09:12] Lanayx opened #19 "Add logging support"
Logging should be configured at PulsarClientBuilder level using `.withLogger(logger: ILogger)` and then passed logger should be used in other modules.

[2019-06-17 09:56] Lanayx opened #20 "Implement Consumer Workflow"
- [x] _CommandSubscribe_
- [x] _CommandFlow_
- [x] _CommandMessage_
- [x] _CommandAck_
- [x] _CloseConsumer_
- [x] _RedeliverUnacknowledgedMessages_
- [x] _ReachedEndOfTopic_
- [x] _Unsubscribe_

https://pulsar.apache.org/docs/en/develop-binary-protocol/#consumer

[2019-06-23 11:54] gou02rav32 opened #21 "Not able to connect with Pulsar Webscocket"
Hi I am getting exception
16:50:55.817 [pulsar-io-49-6] WARN  org.apache.pulsar.common.api.PulsarHandler - [[id: 0xbb072290, L:/192.168.1.52:6650 - R:/192.168.1.52:52543]] Forcing connection to close after keep-alive timeout.
whenever I am attempting to connect the Pulsar web socket I am getting above exception.

[2019-06-23 14:44] Lanayx commented on #21
Project is in early development, please read readme

[2019-06-23 14:44] #21 closed

[2019-06-23 20:17] Lanayx opened #22 "Implement reconnect Backoff logic"
[Java implementation](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/Backoff.java)
Reconnect is needed for both Consumer and Producer on Reconnect event

[2019-06-23 20:23] Lanayx opened #23 "Implement scheduled messages processing"
[This field](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java#L84) is responsible for storing message so they won't get lost on temporary connection failure. They should be reprocessed after the connection is back

[2019-06-25 00:21] Rizzen commented on #4
Mac and Linux build made in https://github.com/fsharplang-ru/pulsar-client-dotnet/pull/8 Windows build is on the way.

[2019-06-26 09:09] #15 closed

[2019-06-26 09:13] Lanayx opened #26 "Implement connection failure handling"
Review all the cases in SocketManager when connection to server can fail and implement proper handling by consumers, producers, lookup service

[2019-06-26 12:11] #19 closed

[2019-06-29 12:17] #16 closed

[2019-07-01 09:01] #17 closed

[2019-07-01 09:04] Lanayx commented on #4
@Rizzen can you please add build widget to the readme page as well (example https://github.com/giraffe-fsharp/Giraffe)

[2019-07-02 07:57] Lanayx commented on #13
Closing as functions will be implemented per feature

[2019-07-02 07:57] #13 closed

[2019-07-02 09:07] Lanayx opened #31 "Improve TopicName usage"
Review TopicName management so it's usage will be consistent everywhere in project. Producers/consumers shouldn't be able to be created with invalid topic names while respecting [flexible-topic-naming](https://pulsar.apache.org/docs/en/pulsar-2.0/#flexible-topic-naming)

[2019-07-02 09:10] Lanayx commented on #14
Closing as it is done per-feature

[2019-07-02 09:10] #14 closed

[2019-07-02 11:48] Lanayx opened #33 "Implement batching"
[Producer batching](https://pulsar.apache.org/docs/en/concepts-messaging/#batching)
[Batching protocol](https://pulsar.apache.org/docs/en/develop-binary-protocol/#batch-messages)

[2019-07-02 12:08] #11 closed

[2019-07-04 11:08] Lanayx opened #34 "Add partitioned topics support"

[2019-07-14 10:06] Lanayx opened #37 "C#/F# example doesn't work on clean installation with no topic created"
For some reason example stops at message "Consumer initial flow sent 1000" and doesn't go forward. Investigation needed. Normally a new topic should be created automatically and everything working correctly

[2019-07-15 09:05] Lanayx opened #38 "Implement UnAckedMessageTracker for consumer"
[Source file](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/UnAckedMessageTracker.java)
[Usage](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L112)
It's purpose is to call redeliverUnacknowledgedMessages when needed.
Logic for Ack resending if connection is unavailabl

[2019-07-16 09:19] Lanayx opened #39 "Implement ConsumerStatsRecorder and ProducerStatsRecorder"
[Consumer](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerStatsRecorderImpl.java)
[Producer](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerStatsRecorderImpl.java)
[Usage](https://pulsar.apache.org/docs/en/develop-binary-protocol/#command-consumerstats)

[2019-07-16 12:35] #20 closed

[2019-07-16 12:40] Lanayx commented on #26
Closing as too general. Will be handled by more granular issues.

[2019-07-16 12:40] #26 closed

[2019-07-17 08:04] Lanayx opened #40 "Implement correct Flow handling"
[Flow command](https://pulsar.apache.org/docs/en/develop-binary-protocol/#command-flow) should be sent periodically to be able to consume more and more messages
[Usage](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L626)

[2019-07-17 11:52] #31 closed

[2019-07-22 07:10] #23 closed

[2019-07-25 20:55] Lanayx opened #45 "Add quick contributing guide"
Similar to https://github.com/fsprojects/Paket#quick-contributing-guide

[2019-07-26 08:21] Lanayx commented on #37
Cite from https://pulsar.apache.org/docs/en/cookbooks-retention-expiry/

So to be able to fist produce messages and then consume them two conditions should be fullfilled
1) Retention should be set on one level
2) Consumer should be listening from "earliest" point

[2019-07-26 08:21] #37 closed

[2019-08-01 09:49] #45 closed

[2019-08-01 14:12] Lanayx opened #47 "Implement high-level consumers and producers handling"
[CloseAsync method](https://github.com/apache/pulsar/blob/branch-2.4/pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java#L528-L564)
[Cleanup methods](https://github.com/apache/pulsar/blob/branch-2.4/pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java#L678-L687)
This tasks includes all handling of producers and consumers collections inside Pul

[2019-08-04 18:19] #22 closed

[2019-08-05 10:08] Lanayx opened #48 "Implement TLS support"
[Here is the flag](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java#L60) Find all it's references and apply needed changes

[2019-08-05 10:11] Lanayx opened #49 "Implement Compression for producer"
[Here is the flag](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ProducerConfigurationData.java#L80) Need to find all references and adjust code accordingly

[2019-08-06 07:50] Lanayx opened #50 "Implement AcknowledgmentsGroupingTracker"
[Inteface](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/AcknowledgmentsGroupingTracker.java)
[Usage](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L113)

[2019-08-08 08:09] Lanayx opened #51 "Implement negative acks tracker"
[Source code](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/NegativeAcksTracker.java)
[Usage](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L477)

[2019-08-09 08:31] #38 closed

[2019-08-12 19:54] Lanayx opened #52 "Implement deadLetter logic"
[Source](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L136-L140)

[2019-08-13 05:02] Lanayx opened #53 "Implement keys and properties for messages"
[Docs](https://pulsar.apache.org/docs/en/client-libraries-java/#configuring-messages)

[2019-08-20 21:18] #40 closed

[2019-08-25 20:33] #33 closed

[2019-08-26 21:09] #47 closed

[2019-08-27 09:16] Lanayx opened #57 "Support interceptors for different operations"
[Consumer interceptor](https://github.com/apache/pulsar/blob/master/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerInterceptor.java)
[Producer interceptor](https://github.com/apache/pulsar/blob/master/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ProducerInterceptor.java)

[2019-08-29 09:01] Lanayx opened #58 "Add support for StartMessageId in consumer"

[2019-09-14 17:54] #49 closed

[2019-09-14 17:55] Lanayx opened #60 "Implement compression for Consumer"

[2019-09-30 18:09] #34 closed

[2019-09-30 18:36] Lanayx opened #61 "Add support for compacted topics"
[Docs](https://pulsar.apache.org/docs/en/concepts-topic-compaction/)

[2019-09-30 18:39] Lanayx opened #62 "Add support for Reader interface"
[Docs](https://pulsar.apache.org/docs/en/concepts-clients/#reader-interface)

[2019-09-30 19:01] Lanayx commented on #58
Closing as not needed

[2019-09-30 19:01] #58 closed, assigned to nobody

[2019-10-06 17:56] #60 closed, assigned to mprokushenkov

[2019-10-06 19:16] Lanayx opened #64 "Pass stream to compression/decompression methods to avoid array copying"

[2019-10-08 14:48] #53 closed

[2019-10-08 14:51] Lanayx opened #65 "Implement zero-allock murmur3 hash calculation"
Message key can be converted to utf8 stackallock byte array and then it can be traversed using span access.
https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/src/Pulsar.Client.Proto/MurmurHash3.cs

[2019-10-11 15:14] Lanayx opened #66 "Add support for BatchMessageKeyBasedContainer"
We should refactor existing batching approach to allow user to [choose](https://github.com/apache/pulsar/blob/branch-2.4/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/BatcherBuilder.java) one of two options.
[BatchMessageKeyBasedContainer](https://github.com/apache/pulsar/blob/branch-2.4/pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageKeyBasedContainer.java)

[2019-10-13 13:13] Lanayx opened #67 "Add support for compacted topics"
[Docs](https://pulsar.apache.org/docs/en/concepts-topic-compaction/)

[2019-10-15 08:41] Lanayx commented on #48
Partially implemented in tls branch. Will continue once https://github.com/mgravell/Pipelines.Sockets.Unofficial/issues/46 is resolved

[2019-10-15 09:02] #67 closed, assigned to Lanayx

[2019-10-15 10:12] Lanayx opened #68 "Add support for consumer seek"
[Code](https://github.com/apache/pulsar/blob/branch-2.4/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L1354-L1370)

[2019-10-16 12:24] #68 closed, assigned to Lanayx

[2019-10-18 08:25] Lanayx opened #69 "Add support for message encryption"
[End to end encryption](https://pulsar.apache.org/docs/en/security-encryption/)

[2019-10-18 15:14] Lanayx opened #70 "Add token based authentication"
[Source code](https://github.com/apache/pulsar/blob/branch-2.4/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/AuthenticationFactory.java#L40-L42)

[2019-10-21 10:02] #70 closed, assigned to Lanayx

[2019-10-25 19:39] #48 closed

[2019-10-25 22:12] #61 closed, assigned to nobody

[2019-10-27 19:49] #51 closed

[2019-11-02 19:51] #62 closed, assigned to Lanayx

[2019-11-09 16:22] Lanayx opened #71 "Support DeliverAtTime"
[Builder](https://github.com/apache/pulsar/blob/branch-2.4/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/TypedMessageBuilder.java#L188-L216)

[2019-11-10 07:10] Lanayx opened #72 "Support SequenceId for effectively-once behaviour"
[Builder](https://github.com/apache/pulsar/blob/branch-2.4/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/TypedMessageBuilder.java#L155-L171)
https://www.splunk.com/en_us/blog/it/effectively-once-semantics-in-apache-pulsar.html
https://github.com/apache/pulsar/wiki/PIP-6:-Guaranteed-Message-Deduplication

[2019-11-10 14:50] #66 closed, assigned to Lanayx

[2019-12-19 15:53] #52 closed

[2019-12-23 13:56] Lanayx opened #74 "Fix CI build"
Either Travis should be fixed, or CI moved to Github actions

[2019-12-31 16:01] #71 closed, assigned to mprokushenkov

[2020-01-01 18:15] Lanayx opened #76 "Add support for multiple hosts"
Details in [this issue ](https://github.com/apache/pulsar/issues/3218) and [this PR](https://github.com/apache/pulsar/pull/3249)

[2020-01-04 17:16] Lanayx commented on #4
Closing as half-done

[2020-01-04 17:16] #4 closed

[2020-01-09 15:21] Lanayx opened #77 "Schema support"
- [ ] Avro
- [ ] JSON

[2020-02-14 12:39] #76 closed, assigned to mprokushenkov

[2020-03-02 08:48] Lanayx opened #80 "Add source link support"

[2020-03-02 22:16] #74 closed, assigned to Szer

[2020-03-04 20:27] Lanayx opened #81 "Add support for tls authentication"
[Implementation reference](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationTls.java)
[Documentation reference](https://pulsar.apache.org/docs/en/security-tls-authentication/)

[2020-03-06 14:38] #80 closed, assigned to Szer

[2020-03-21 09:20] #57 closed

[2020-03-21 09:30] Lanayx opened #86 "Add support for multitopic and regex consumer"

[2020-03-27 16:49] MikeDotNetty commented on #81
This enhancement would be much appreciated. Any insight as to if/when this might be implemented?

[2020-03-27 17:13] Lanayx commented on #81
@MikeDotNetty you can track team activity [here ](https://github.com/fsharplang-ru/pulsar-client-dotnet/projects/1). This issue is not in progress right now, so we'll start it after finishing current ones. That being said, you are very welcome to work on this and we'll help you with that.

[2020-03-30 10:13] Lanayx commented on #65
Closed by #87

[2020-03-30 10:13] #65 closed, assigned to nobody

[2020-04-01 20:13] valorekhov opened #89 "Is NetFramework 4.7.2 runtime supported?"
I am encountering an issue where running a basic code snippet to connect a producer client runs into ConnectException's while executing on the .NET Framework 4.7 runtime. The same code works without any issues on the NetCoreApp 3.1 runtime. While on .NET Framework, the server shows multiple repeated connectivity attempts with incremental backoff spacing until  the .NET Framework -based producer cl

[2020-04-01 21:00] Lanayx commented on #89
It is supported, usually the issue lies in missing/incorrect Nuget dependencies, try running the example using VS debug and check ongoing exceptions in the Events tab. This helps when exception is not visible in logs. Meanwhile I'm going to add an example project on Full .NET with all required config tweaks.

[2020-04-01 21:55] Lanayx commented on #81
@MikeDotNetty tls auth was added in 0.18.0 release

[2020-04-01 21:55] #81 closed, assigned to RahimovIR

[2020-04-02 11:08] MikeDotNetty commented on #81
Was this fully implemented?  Reason I ask is the referenced documentation from the official pulsar client allows for both a cert ".pem" file and a key ".pem" file, but this implementation only accepts a cert file.  Am I missing something?

[2020-04-02 11:21] Lanayx commented on #89
Added an example for the oldest framework we support - dotnet461, you can check it up [here](https://github.com/fsharplang-ru/pulsar-client-dotnet/tree/develop/examples/OldDotnetExample)

[2020-04-02 11:35] Lanayx commented on #81
You can check the example [here](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/examples/CsharpExamples/TlsAuthentication.cs), the key should be provided together with cert in pfx container, will this work for you?
[Reference question on SO1](https://stackoverflow.com/questions/6307886/how-to-create-pfx-file-from-certificate-and-private-key)
[Reference question on SO2](https://

[2020-04-02 11:54] MikeDotNetty commented on #81
@Lanayx Thanks, I thought I might have to create the pfx container from the pem files, but couldn't find any good links, much appreciated!

[2020-04-03 15:03] valorekhov commented on #89
Thanks so much for putting the NetFramework sample together. It did work in my environment.
I will be closing this issue soon once I figure out the delta between the sample and my project setup

[2020-04-03 19:44] valorekhov commented on #89
I was successfully able to upgrade dependencies in my project using info on versions from the sample project.

Although I initially attempted to identify the specific faulty dependency by attempting to upgrade deps peacemeal, I wasn't able to finish this task.

I ended up instead pasting over the contents of packages.config with the contents from the sample project. Since HintPath references in th

[2020-04-03 19:44] #89 closed, assigned to nobody

[2020-04-07 11:13] MikeDotNetty commented on #81
@Lanayx, so let me start by saying, it's very possible the PFX i generated via openssl or the CA.pem file I am using are corrupt.  However, when I implemented code similar to the TlsAuthentication example (modifying it for my individual use case) and I run it in visual studio, it appears to fail inside the pulsar client, however the pulsar client is not providing any usable errors.  The only outpu

[2020-04-07 11:36] Lanayx commented on #81
@MikeDotNetty So here are the steps I can suggest you to debug the issue:
1) Set logging level to debug and inspect logs (you can attach logs file here for me)
2) Ensure that your code works with some other cluster (local insecure or https://kafkaesque.io/ free trial). If it does work, but you cluster with tls auth doesn't, check if java/python client works with it

[2020-04-08 08:06] Lanayx opened #90 "Expose ssl protocols to client builder API, default to SslProtocols.None"

[2020-04-08 14:39] #90 closed, assigned to RahimovIR

[2020-04-08 20:41] Lanayx commented on #81
If you are using .net 4.6.*, then we've just published a new version for tls, appeared that additional configuration is required for the old .net version.

[2020-04-09 13:43] MikeDotNetty commented on #81
@Lanayx Thanks again for all your help with this.  Here are the details of what I have going on:

I have set up two .net console applications to see if I can get this to work.
- A **.NET Core** (3.1) console application
- A **.NET Framework** (4.6.1) console application.

The code is nearly identical for both these projects; with the one difference of the 4.6.1 code having the ".TlsProtocols(SslPr

[2020-04-09 13:47] Lanayx commented on #81
@MikeDotNetty unfortunately, those are not the logs I'm looking for, can you please setup proper logging as shown [here](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/examples/CsharpExamples/Program.cs#L12-L18) with logging set to debug

[2020-04-09 14:25] MikeDotNetty commented on #81
@Lanayx Thanks for that bit of insight.  Originally I tried to do that but "addConsole" keep throwing an error, apparently it's not in "Microsoft.Extensions.Logging" (as visual studio suggested), but rather it's own "Microsoft.Extensions.Logging.Console".  Either way, I have the logging information now, and  I think with this information I can do a deeper dive on my side.  As now I can see that th

[2020-04-09 19:50] MikeDotNetty commented on #81
@Lanayx Just wanted to follow up. Now that I was able to see the log, I was able to identify that the issue was internal to the endpoint I was reaching out to.  Thank you very much for your quick responses to my questions and enabling the TLS Authentication, I can say with 100% certainty that it works great!  Thanks again!

[2020-04-09 20:45] Lanayx commented on #81
Great news!

[2020-04-17 12:35] Lanayx opened #93 "Documentation comments are not visible when using library api"
![image](https://user-images.githubusercontent.com/3329606/79755559-fffab000-8321-11ea-91a7-d0cc8fb51174.png)
![image](https://user-images.githubusercontent.com/3329606/79755690-320c1200-8322-11ea-926f-e73c67a0a69b.png)

[2020-04-21 17:37] #93 closed, assigned to nobody

[2020-05-03 13:45] Lanayx opened #95 "Producer backpressure support"
[Java reference](https://github.com/apache/pulsar/blob/master/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ProducerBuilder.java#L215)
Right now we [only support exception throwing ](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/src/Pulsar.Client/Internal/ProducerImpl.fs#L312)

[2020-05-14 13:45] #77 closed, assigned to Lanayx

[2020-05-25 11:49] #72 closed, assigned to Lanayx

[2020-05-25 11:50] Lanayx opened #97 "Support for ZeroQueueConsumer"
[Source code](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ZeroQueueConsumerImpl.java)

[2020-05-27 09:42] #95 closed, assigned to Lanayx

[2020-05-27 10:23] #39 closed

[2020-05-27 11:48] Lanayx opened #98 "Support SQL queries through presto"
[Documentation](https://pulsar.apache.org/docs/fr/sql-rest-api/)

[2020-06-04 13:08] auduchinok opened #99 "Build fails due to missing Paket"
Build instructions don't suggest installing Paket and build fails if it's not available:
[code]

Installing Paket as a global tool helps.

[2020-06-04 18:23] RahimovIR commented on #99
Сan show the result of the command `paket restore`?

[2020-06-04 18:33] auduchinok commented on #99
OK, I've uninstalled the tool and cleaned everything it created previously:
[code]
<img width="1709" alt="Screenshot 2020-06-04 at 21 31 23" src="https://user-images.githubusercontent.com/3923587/83797231-fc8d6f00-a6aa-11ea-92cc-98f6cc07cccb.png">
<img width="840" alt="Screenshot 2020-06-04 at 21 31 53" src="https://user-images.githubusercontent.com/3923587/83797235-0020f600-a6ab-11ea-82a9-4ca78c2

[2020-06-04 20:20] Lanayx commented on #99
@auduchinok do you think mentioning it in readme in the root is not enough? https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/README.md#common-steps-before-building

[2020-06-04 23:04] auduchinok commented on #99
Ah, sorry, I've somehow didn't notice it and skipped right to the build part. 🙂

I think it'd be great to be able to use `dotnet tool restore` for that step and to specify needed tools in a manifest file, as described [here](https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools#install-a-local-tool) and [here](https://fsprojects.github.io/Paket/get-started.html#NET-Core-preferred). I've

[2020-06-08 07:47] Lanayx opened #100 "Implement consumer priority level"
[Builder](https://github.com/apache/pulsar/blob/branch-2.5/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java#L447)
[Docs](http://pulsar.apache.org/docs/en/concepts-messaging/#failover)

[2020-06-12 17:31] JarrodJ83 opened #102 "Protobuf: Type not supported"
I am trying to use Protobuf schema but running into the following exception when calling `client.NewProducer(Schema.PROTOBUF<MyMessage>()).Topic(topic)`. In this case `MyMessage` is generated by `Google.Protobuf`. :

`public sealed partial class MyMessage : pb::IMessage<RotationScheduled> { ... }`

I did not see any examples or documentation using protobuf so I am not sure if I am doing something

[2020-06-12 22:13] Lanayx commented on #102
@JarrodJ83 You should **protobuf-net** instead. Pulsar doesn't support Protobuf schema actually, it still uses AVRO underneath, protobuf is used for serialization/deserialization only, so you should create POCO objects decorated with attributes to transfer data (schema is generated by looking at those POCO objects through reflection by [another library](https://github.com/eaba/AvroSchemaGenerator)

[2020-06-13 13:14] Lanayx commented on #99
Converted to local tool. @auduchinok thank you for reporting

[2020-06-13 13:14] #99 closed, assigned to nobody

[2020-06-13 20:58] #86 closed, assigned to Lanayx

[2020-06-14 09:09] #97 closed, assigned to RahimovIR

[2020-06-14 10:55] Lanayx opened #104 "Remove Avro source code once 1.10 is out (substitute with nuget)"
https://github.com/apache/avro/releases

[2020-06-15 09:20] Lanayx opened #106 "Create logo for the project"

[2020-06-15 09:52] Lanayx commented on #106
Suggesting [purple circle background](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/600px-.NET_Core_Logo.svg.png) + [pulsar logo](https://pbs.twimg.com/profile_images/875130220474359809/wFcLUbwd_400x400.jpg) on the top (white lines)

[2020-06-15 10:17] franck-schmidlin commented on #106
yep, 2 tone circle with white pulsar would work - let me see if I can throw something together

[2020-06-15 10:33] franck-schmidlin commented on #106
![pulsar-client](https://user-images.githubusercontent.com/46777237/84647880-f776be00-aefb-11ea-901a-747b06798606.png)
something like that?

[2020-06-15 11:10] Lanayx commented on #106
Right! If you can make a version with smooth lines, we'll use it :) [This svg](https://pulsar.apache.org/img/pulsar.svg) can help

[2020-06-15 12:29] Lanayx commented on #106
I was able to make it :) Thank you @franck-schmidlin
![pulsar-circle](https://user-images.githubusercontent.com/3329606/84657456-face7180-af1c-11ea-9728-6a019a5e9bcd.jpg)

[2020-06-15 12:29] #106 closed, assigned to nobody

[2020-06-15 15:55] #100 closed, assigned to RahimovIR

[2020-06-15 17:01] JarrodJ83 commented on #102
Thanks @Lanayx I will give this a shot!

[2020-06-22 22:01] Lanayx commented on #102
@JarrodJ83 were you able to accomplish your task?

[2020-06-23 00:38] JarrodJ83 commented on #102
@Lanayx I will try to get back to it this week. You can close this if you'd like. I am sure it will work once I get back to it. Thanks for circling back on it.

[2020-06-23 10:14] richardwilko opened #108 "Avro support should be able to use Avro generated C# classes"
If we use the C# classes Avro can generate (based on a Avro schema file), the avro schema support should be able to use it directly rather than trying to re-introspect the schema from the class file.

e.g. if i did this:
`
            var avroSchema = Avro.Schema.Parse(schemaJson);
            var codeGen = new CodeGen();
            codeGen.AddSchema(avroSchema);
            codeGen.GenerateCode(

[2020-06-23 12:12] Lanayx commented on #108
@richardwilko can you please give an example of autogenerated C# class together with schema it was generated from?

[2020-06-23 13:31] richardwilko commented on #108
@Lanayx Sure, here is a reasonably complex example: https://gist.github.com/richardwilko/5e0cc005db75cee448a4d2297c82dcba

[2020-06-23 14:36] Lanayx commented on #108
Ok, it looks like it is possible to detect if class is implementing **ISpecificRecord** interface and if it does, then take schema information from **Schema** property. @richardwilko do you want to help with the implementation?

[2020-06-23 15:53] richardwilko commented on #108
Happy to help, though as of this morning, I've written about 20 lines of c# and 0 lines of f#, so i need to do some reading.

I'm quite familiar with the JVM/Avro side of things though.

[2020-06-23 17:00] Lanayx commented on #108
@richardwilko Ok, in that case you can handle just tests - can you please add a C# library into tests folder called **AvroGenerated** , put your generated classes in there, reference this library from unit tests project and add [a unit test](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/tests/UnitTests/Internal/SchemaTests.fs#L174) that will encode/decode using those classes.

[2020-06-29 16:57] Lanayx commented on #108
Closed by #109

[2020-06-29 16:57] #108 closed, assigned to nobody

[2020-07-02 15:29] richardwilko commented on #104
fyi https://github.com/apache/avro/releases/tag/release-1.10.0

[2020-07-02 21:51] #104 closed, assigned to Lanayx

[2020-07-02 22:04] Lanayx opened #110 "Port 2.6.0 changes"
- [x] Individual acknowledgment in batches
- [x] Reconsume later
- [x] Chunked messages

[2020-07-08 20:12] #102 closed, assigned to nobody

[2020-07-08 20:21] JarrodJ83 opened #111 "Reader: HasMessageAvailableAsync returns True but ReadNextAsync never returns when using StartMessageFromRollbackDuration"
I am not sure if this is a Pulsar issue or issue with Pulsar.Client. Hoping someone can help point me in the right direction!

The below function works perfectly when using `StartMessageId(MessageId.Earliest)`. If I try to use `StartMessageFromRollbackDuration` like below, the `HasMessageAvailableAsync()` will return true but then the `ReadNextAsync` will block indefinitely, never returning a mess

[2020-07-09 09:06] Lanayx commented on #111
Hi! I've just commited [test for StartFromRollbackDuration](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/tests/IntegrationTests/Reader.fs#L183-L208) and it works fine locally on 2.5.2, while fails in github actions, can you please check if it fails for you on 2.5.2?

[2020-07-09 10:20] Lanayx commented on #111
I've just noticed one warning, fixing which seems to have fixed the github action as well, I'll publish a version today with this fix for you to try

[2020-07-09 11:05] JarrodJ83 commented on #111
That's fantastic! Thanks for the quick turnaround!

[2020-07-09 11:10] Lanayx commented on #111
I've just published 1.4.3, you are welcome to try it out

[2020-07-09 11:39] JarrodJ83 commented on #111
Unfortunately I am experiencing the same issue with 1.4.3. What version of Pulsar are you running? Could you potentially post the Pulsar logs from the point of creating the subscription to trying to read the next message so that I could compare them to mine?

[2020-07-09 11:57] Lanayx commented on #111
Here are the logs from the integration test I mentioned above, I'm using 2.5.2. Can you check 2.5.2 server as well? New pulsar releases often break things
[code]

[2020-07-09 14:37] JarrodJ83 commented on #111
I am getting the same behavior on 2.5.2. I see some logs of interest that are different between mine and yours, however:

*Mine:*
Found position **10:0** closest to provided timestamp 1594238715935
reset position to **10:1** before current read position 10:1 on cursor reader-9b5a98d18f

*Yours:*
Found position **141206:0** closest to provided timestamp 1594295498894
reset position to **141206:0**

[2020-07-09 14:50] Lanayx commented on #111
I think the best you can do is to provide a full repro of the issue (just like in the integration test I did) so we could clearly understand all the conditions under which the issue happens.

[2020-07-09 15:28] JarrodJ83 commented on #111
I will try to put that together. Thanks!

[2020-07-17 13:56] Lanayx commented on #64
Not applicable since encryption requires arrays anyway

[2020-07-17 13:56] #64 closed, assigned to nobody

[2020-07-30 13:02] JarrodJ83 opened #113 "How to Add Message Properties in Interceptor"
I looked around but I could not find any examples of interceptor implementations. If I missed any could you please direct me to them?

I am trying to implement a diagnostic interceptor that will interact with `System.Diagnostic.Activity`. To do this I need to be able to inject new properties into the message properties. However, properties is a read-only collection. I looked at creating a new mess

[2020-07-30 13:11] JarrodJ83 commented on #113
Also I'd like to contribute this work back to the community if it works out and there is interest in it.

[2020-07-30 14:31] Lanayx commented on #113
Hi, @JarrodJ83 ! Thanks for raising the issue, message immutability is intentional, [this is the way how it is supposed to be used now](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/tests/IntegrationTests/ProducerInterceptor.fs#L36-L41) , however it seems to need some refactoring. I'll think how to improve it and give an update a bit later.

[2020-07-31 13:41] JarrodJ83 commented on #113
Thanks @Lanayx ! Much appreciated.

[2020-07-31 14:29] Lanayx commented on #113
@JarrodJ83 We are merging a big feature - message encryption, hopefully a new version will be ready on Monday together with this small improvement

[2020-07-31 14:47] Lanayx opened #114 "Move TLS integration tests in github actions to 2.8 cluster"
[Current setup](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/tests/compose/standalone/docker-compose.yml#L37-L80)
One way is to use helm chart for this task and run [on minikube](https://github.com/marketplace/actions/setup-minikube-kubernetes-cluster), but other options also are possible (for example [Fluent Docker](https://github.com/mariotoffia/FluentDocker) or [TestContai

[2020-08-03 10:13] #69 closed, assigned to RahimovIR

[2020-08-04 17:52] Lanayx commented on #113
Closing as functionality was added in 1.5.0 release

[2020-08-04 17:52] #113 closed, assigned to nobody

[2020-08-04 17:54] Lanayx commented on #111
@JarrodJ83 hey, where you able to make a repro?

[2020-08-07 19:01] ghost opened #115 "Add CancellationToken support"
Hello,

Using C# and trying to cancel some of the async methods and am having issues since the async methods can't be cancelled.

I would like to be able to do something like this

[code]

Thanks.

[2020-08-07 19:33] Lanayx commented on #115
@Suchere Hi! Can you please provide your use case for better understanding, why do you want to cancel the receive? If you want to stop  consuming you can call DisposeAsync or UnsubscribeAsync depending on your needs, it will cancel the receive.

[2020-08-07 20:19] JarrodJ83 commented on #111
Let me try to get back to it next week. I was able to repro but not consistently. Will try to dig into it a bit more.

[2020-08-07 20:45] ghost commented on #115
@Lanayx Thanks for the quick reply!

I want to cancel the receive because I am working in a sync context so the thread is blocked and I can't call unsubscribe.
I think I will offload the receive in a Task.Run so I can manually check the status of the task and call unsubscribe if the cancellation token has expired, thanks.

1. I was wondering if it's a 'heavy' operation to subscribe/unsubscribe jus

[2020-08-07 21:20] Lanayx commented on #115
@Suchere I just wanted to understand why would you want to stop receiving without stoping the consumer itself. Consumer should be treated as a separate process, it fetches messages in background and stores in internal queue. So when ReceiveAsync is called it either just simply returns the messages from the queue or waits for the new message to arrive. The DisposeAsync stops the consumer without ab

[2020-08-07 21:54] ghost commented on #115
@Lanayx

I want to use the same consumer but be able to control when I am receiving e.g. user clicking start and stop button on a UI. Reading the rest of your comment, looks like I should be creating a new consumer every time I want to receive and disposing when I'm done.

---

I look forward to this, thanks. I'm wondering whether it will ever reach the point where it checks the cancellation token

[2020-08-07 22:30] Lanayx commented on #115
You are right, it will never stop receiving if message never comes, but it is a problem? Could you post an example of code of how you plan to stop and resume receiving messaging, what issues do you encounter, maybe you don't need cancellation token at all, or the proposed solution with Task saving could work. With UI example you don't need cancellation, just after clicking stop you set the stop fl

[2020-08-08 14:55] ghost commented on #115
[code]

I plan on doing **something** like the above... haven't tried it.

Lets say that in my application, I want to receive on demand (I can stop and start it whenever), there would be no way to stop ` Task.Run(() => Fetch(consumer));` without a proper cancellation token. Seems like the solution you suggested with the cancellation token would still cause the task to carry on running if no messag

[2020-08-10 09:11] Lanayx commented on #115
@Suchere In you example you are trying to receive just one message, was that your intention? If not, then let's say token is implemented (so receive will throw task cancelled exception), can you show how you plan to do 3 things: receiving messages in a loop and using those messages, stopping consuming and resuming the message loop.

[2020-08-11 20:30] ghost commented on #115
@Lanayx

Just for this example, yes, to show how I would plan on doing things.
In reality, I am working on a service that has a thread that loops continuously with a cancellation token. The receive call is blocking since it will wait forever if no message arrives... this is problematic since I can't control the thread. Disposing the consumer just to stop receiving doesn't make sense if you want to

[2020-08-12 11:22] Lanayx commented on #115
I really wanted to understand how you wanted to code this with cancellation token, you are still welcome to provide the code example for the 3 cases I asked. This is how it looks for me now with just a mutable variable _allowReceiving_:
[code]
As for integration tests, using Unsubscribe is the best option (it's not the hack), since it will clean up the subscription from broker. I would also say th

[2020-08-24 12:30] Lanayx opened #117 "Support ordering key during message construction"
[Java code reference](https://github.com/apache/pulsar/blob/branch-2.6/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/TypedMessageBuilder.java#L110)

[2020-08-25 09:41] Lanayx opened #118 "Add SNI proxy support"
[PR reference](https://github.com/apache/pulsar/pull/6566/files)

[2020-08-27 11:43] Lanayx opened #119 "Add OAuth2 protocol support"
[Source code](https://github.com/apache/pulsar/tree/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2)
[Documentation](https://pulsar.apache.org/docs/en/security-oauth2/)

[2020-08-31 09:46] #110 closed, assigned to Lanayx

[2020-09-01 13:51] JarrodJ83 opened #121 "Broker Failure Causes SendAsync to Hang Indefinitely"
Today we were testing failure scenarios and ran into a situation where when we killed one of the brokers in our cluster the following code would just hang indefinitely on `producer.SendAsync`. Our cluster is hosted on k8s behind a proxy and it contains three brokers. If you see anything I am doing wrong that would cause this behavior please let me know. Thanks in advance!

**Steps to reproduce (in

[2020-09-01 15:14] Lanayx commented on #121
Hi! Can you please provide the client log as well? (That should be set up like [here](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/examples/FsharpExamples/Program.fs#L20))

[2020-09-01 19:44] JarrodJ83 commented on #121
Wow that produced a massive amount of logs! When the broker goes down it rapidly produces this set of logs over and over:

[code]

I've had a couple different results. One time it did throw the exception but then when it tried to send again it just spit out these logs indefinitely even after the one broker had come back online. The other time it never threw the exception even once and just got stu

[2020-09-01 20:51] Lanayx commented on #121
Thank you, I'll try to reproduce tomorrow. Those three log lines look perfectly fine for me - sending and receiving receipt

[2020-09-01 22:30] JarrodJ83 commented on #121
Thanks, @Lanayx! Let me know if there is anything else I can provide to assist.

[2020-09-02 13:51] Lanayx commented on #121
@JarrodJ83 I've uploaded the new version, you are welcome to test

[2020-09-02 14:11] Svade905 opened #122 "Allow Max Message Size to be configurable"
Hi,

I see that in Commands.fs, the max message size is set to the default value that the broker also uses.

`let DEFAULT_MAX_MESSAGE_SIZE = 5_242_880 //5 * 1024 * 1024`

I have changed the configuration on the broker side so that the default message size is higher, however this client is preventing me from sending larger messages and throwing InvalidMessageException with the detail 'Message size

[2020-09-02 15:50] Lanayx commented on #122
@Svade905 Hi! That's true that there is no client setting for that, since this value is coming from broker. Have you tried restarting broker after changing config? Also can you inspect client logs, max message size is clearly visible there when connection is established (you need one with brokerless=false).

[2020-09-02 16:15] Svade905 commented on #122
@Lanayx Ah so the value comes from the broker... ok. I **have** restarted the broker after changing config. I see in the broker logs that the max message size is set so I'm not sure what's going on.

I'm using the client in C#... is it possible and how do I see the client's logs? Also not sure what you meany by brokerless=false

[2020-09-02 18:39] Lanayx commented on #122
You can check example project to see how the logger is set. (it is console logger there, but can be set to serilog or anything else)

[2020-09-03 10:13] Svade905 commented on #122
@Lanayx I managed to get a logger attached and I see the `maxMessageSize` is indeed **not** what I set in the broker config. I do have `brokerless: True` though which I'm not exactly sure the meaning of or how to change it.

Any idea whether the broker running in standalone mode prevents the use of the `maxMessageSize` setting? It's not available in the standalone config so I manually added it alo

[2020-09-03 10:17] Lanayx commented on #122
@Svade905 Here is the log that I get when running example

[code]
The second connected log is what you need to look at

[2020-09-03 10:19] Lanayx commented on #122
Ah, it's probably because I'm using proxy :) Anyway, the MaxMessageSize from this log is what is returned back from the cluster. [The code](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/src/Pulsar.Client/Internal/ClientCnx.fs#L396)

[2020-09-03 10:43] Svade905 commented on #122
Yeah I don't see the false so must be the proxy.

Here's my logs, I notice that the maxMessageSize values are different in the 1st and 3rd log message.

[code]

[2020-09-03 10:59] Lanayx commented on #122
So it seems to be 52528800 - around 50Mb for you, does the error still display `Message size is bigger than 5242880 bytes` ? Can you show other logs till the exception?

[2020-09-03 12:03] Svade905 commented on #122
Yes that's correct, around 50Mb.

I'm attempting to send a message which has a size of about 11Mb and the error I get is:

`InvalidMessageException: Message size is bigger than 5242880 bytes`

So that's the default max message size.

Other logs continuing from previously after creating producer, nothing of value:

[code]
Exception is thrown after that last log and no more log messages.

Batching i

[2020-09-03 12:20] Lanayx commented on #122
I see, the correct behavior will be to reconnect with new maxMessageSize, it is tested in "Send large message works fine" integration test which gets passed successfully in github actions. I'll try to reproduce locally, in a while can you please make sure that you are running the latest library version

[2020-09-03 13:56] Svade905 commented on #122
I reproduced the same issue with the latest libraries and installations so Pulsar.Client 1.6.1 and Apache Pulsar 2.6.1. Running the broker in standalone mode.

I put these settings into standalone.conf:

[code]

My C# .Net framework console project code to test it quickly:

[code]

[2020-09-03 18:41] Lanayx commented on #122
@Svade905 Thank you! I've found the issue, it was indeed due to the "brokerless" logic, I'll release the update soon.

[2020-09-03 20:43] JarrodJ83 commented on #121
Thanks for the quick fix, @Lanayx ! Works like a charm now!

[2020-09-03 21:13] JarrodJ83 opened #123 "Request: Make Consumer/Producer Builder Properties Publicly Available"
I have a use case where I am manually creating my topics instead of letting them be automatically generated on the creation of the producer/consumer. I also need to create dead letter topics for the consumers. That said this becomes tricky because the code that is going to create the topics needs passed all the information about the topic and whether or not the consumer is setup for dead letter, w

[2020-09-04 08:06] #121 closed, assigned to nobody

[2020-09-04 08:24] Lanayx commented on #123
@JarrodJ83 Hi! It seems that this is already supported :) For example:

[code]

[code]

[2020-09-04 10:50] JarrodJ83 commented on #123
Hi @Lanayx I should have provided some code example. What I am looking for is to be able to access the properties of the builder. For example, building on your code above:

[code]

Currently all properties of the builders are private. I would like them to either be public with private setters or have methods to get them. Does this make sense?

[2020-09-04 11:33] Svade905 commented on #122
@Lanayx Thanks. I've tested it and it does not throw the exception anymore!

Unfortunately I'm getting a timeout exception now and I think it's something on the broker side since I see `NotEnoughBookiesException: Not enough non-faulty bookies available`

and

`ERROR org.apache.bookkeeper.proto.BookieRequestHandler - Unhandled exception occurred in I/O thread or handler
io.netty.handler.codec.TooLo

[2020-09-04 12:15] Lanayx commented on #122
@Svade905 Right, you need to set this to bookeeper config `nettyMaxFrameBytes=52428800`

[2020-09-04 12:21] Lanayx commented on #123
Thank you, now I understand it better :) You are right, It's useful to add. For example dead letter policy will be accessible through
`consumerBuilder.Configuration.DeadLetterPolicy`

[2020-09-04 13:06] Svade905 commented on #122
Didn't work. I think I will have to stop using standalone.

I was attempting stuff from this issue https://github.com/apache/pulsar/issues/4708 but didn't seem to help.

[2020-09-04 13:36] Lanayx commented on #122
@Svade905 I've just noticed that the setting name is misspelled, can you try `nettyMaxFrameSizeBytes`  ?

[2020-09-04 13:45] Svade905 commented on #122
@Lanayx Awesome, it works now! Thanks a lot. Happy to close the issue if you are.

[2020-09-04 14:51] #122 closed, assigned to nobody

[2020-09-12 10:20] #123 closed, assigned to Lanayx

[2020-09-14 11:39] #117 closed, assigned to Lanayx

[2020-09-30 15:18] MikeDotNetty opened #125 "Compression?"
Sorry if this is obvious, but when the pulsar client is attempting to decompress a message what compressionType is used?  Also as a consumer can I specify an individual compressionType in any way (assuming I know how the message was initially compressed)?  I am running into the following error upon receiving a message:

[code]

Thanks!

[2020-09-30 17:00] Lanayx commented on #125
Hi! The decompression is based on the metadata that is sent in the message, so you can't use custom decompression algorithm at the moment, was it your intention? [Code reference](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/src/Pulsar.Client/Internal/ConsumerImpl.fs#L484). Codecs logic is [here](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/src/Pulsar.Cli

[2020-09-30 17:07] MikeDotNetty commented on #125
@Lanayx Thanks for the response and information.  However, no I was not trying to use a custom algorithm, but rather I was wondering if I could tell the pulsar client which of the compressionTypes to use.   However, I was provided more information that this particular message is in fact compressed using ZLIB....and seeing as how the pulsar client is attempting to decompress using the ZlibCompressi

[2020-09-30 17:13] Lanayx commented on #125
Here is [the code of decompression](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/src/Pulsar.Client/Internal/Compression%20.fs#L23-L31), it's very straightforward :) Do you see any issues there? Feel free to correct it, or to provide a console application with a more correct decompression. I'll try to do the testing on my side as well, within few days

[2020-10-01 11:03] Lanayx commented on #125
@MikeDotNetty I've investigated the issue a bit and found that indeed **java -> .net** transformation doesn't work, while the other side **.net -> java** works fine. Looks like the reason is some non-standard way of encoding, for example the text _Hello from Java 1_ gets encoded to `eJzySM3JyVdIK8rPVfBKLEtUMAQAAAD//w==` in Java and to `eJzzSM3JyVdIK8rPVfBKLEtUMAQANpoFvA==` in .net version. [Online

[2020-10-01 11:09] MikeDotNetty commented on #125
@Lanayx Thanks for the quick investigation and reply back.  Also glad to see that I'm not nuts :)  This certainly does explain why there is an issue with the decompression.  I wish I could assist, but this is well beyond my scope.   If you wouldn't mind keeping me in the loop as to your further findings that would be appreciated!  Thanks again!

[2020-10-02 09:38] Lanayx commented on #125
@MikeDotNetty After several hours of dancing around the zlib library I've managed to find the similar setup to Java, so closing the ticket. 1.7.2 is released with the fix

[2020-10-02 09:38] #125 closed, assigned to nobody

[2020-10-05 15:12] MikeDotNetty commented on #125
@Lanayx Sorry for the delayed response.  HOWEVER, you bug fix did the trick!  Much appreciated!

[2020-10-11 14:10] RahimovIR opened #126 "Consumer failed when used TopicsPattern"
Consumer with TopicsPattern failed when connect to new topic

[2020-10-13 12:10] #126 closed, assigned to nobody

[2020-12-02 19:45] Lanayx opened #129 "Support for consumer pause and resume"
[Sources](https://github.com/apache/pulsar/blob/master/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Consumer.java#L680-L689)
Should also include fix https://github.com/apache/pulsar/pull/8165

[2020-12-09 11:36] Sacagawea69 opened #131 "Expose state of Client"
Hi,

I'm using C# and would like to check whether or not my client has successfully connected after creation. Currently I am only able to see if there are any connection issues when attempting to send or receive messages.

For example

bool successful;

var client = new PulsarClientBuilder()
                .ServiceUrl(serviceUrl)
                .Build();

if (client.State() == Connected)
{

[2020-12-09 12:44] Lanayx commented on #131
Hi, @Sacagawea69! A connection attempt is not happening when client instance is created. If serviceUrl is misspelled then you'll get a connection error on consumer or producer creation, no need to receive or send messages.

[2020-12-10 09:14] Sacagawea69 commented on #131
Hi,
Thanks for the reply. Do connection attempts only happen at the point of sending and receiving messages? I would like to know prior to this whether or not a connection is successful/possible

[2020-12-10 11:31] Lanayx commented on #131
@Sacagawea69 As I said in my previous message: "If serviceUrl is misspelled then you'll get a connection error **on consumer or producer creation**, no need to receive or send messages."

[2020-12-10 17:29] Sacagawea69 commented on #131
@Lanayx my specific scenario is if the broker has been turned off (or not started) when creating the client, (meaning a connection is not possible at that point in time) there is currently no flag to make this known at the time of creating the client, which is what I'm trying to do.

looking at the source code there is an internal field 'clientState' which  can be either Active, Closing, or Closed

[2020-12-10 17:34] Lanayx commented on #131
@Sacagawea69 So you need to try create a consumer or a producer, if it fails then connection is not established. The state of client is always Active until it starts closing

[2020-12-10 17:39] Lanayx commented on #115
Closing as support added in 1.8.0

[2020-12-10 17:39] #115 closed, assigned to Lanayx

[2020-12-11 08:18] richardwilko opened #132 "Support for PROTOBUFNATIVE schema type (added pulsar 2.7)"
Any plans to add support for the PROTOBUFNATIVE schema type, which was added in pulsar 2.7.

https://github.com/apache/pulsar/pull/8372

[2020-12-11 13:45] Lanayx commented on #132
@richardwilko Sure, everything from java client is on roadmap, do you want to contribute this feature?

[2020-12-11 15:12] richardwilko commented on #132
@Lanayx I cant promise I will get a chance to look anytime before the new year unfortunately

[2020-12-11 15:17] Lanayx commented on #132
It's ok, i'm going to finish porting 2.6.2 changes first anyway, then transactions support will be the highest priority

[2020-12-15 10:21] TjeuKayim opened #134 "IReader.HasMessageAvailableAsync incorrectly returns false when MessageIdInclusive=true"
`HasMessageAvailableAsync` as it always returns false for the last message only when `StartMessageIdInclusive(true)` is configured. This seems like a bug.

Is it expected that the C# test case below fails on the last assertion?

[code]

The problem seems to be at line https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/d80640ea82410479f60ff23f1e3b7f0d9554202c/src/Pulsar.Client/Internal/Cons

[2020-12-15 10:22] TjeuKayim opened #135 "Add CancellationToken to IReader.ReadNextAsync"
`ReceiveAsync` recently got an overload with a `CancellationToken` parameter in #115.
`IReader.ReadNextAsync` uses that method in its implementation, so it could easily get a similar overload.

My use case if that I want to specify a timeout when the reader has reached the latest message and waits for new ones to arrive.
This would be a workaround for my other issue #134.

[2020-12-15 12:00] Lanayx commented on #134
Hi, @TjeuKayim, which pulsar server version are you using? This sounds similar to https://github.com/apache/pulsar/issues/6333

[2020-12-15 12:06] TjeuKayim commented on #134
Thanks for the quick response.
The Pulsar broker version is 2.7.0.

[2020-12-15 12:13] TjeuKayim commented on #134
Maybe the comparison between batch MessageId and non-batch MessageId is not up to date with the Java equivalent https://github.com/apache/pulsar/blob/cb6617fa02d235f341026adf43fee87627a20c8b/pulsar-client/src/main/java/org/apache/pulsar/client/impl/BatchMessageIdImpl.java#L70-L84

[2020-12-15 12:19] Lanayx commented on #134
Thanks, I'll have a look tomorrow. In a while you can create a failing test in this file https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/tests/IntegrationTests/Reader.fs and send a PR to merge

[2020-12-15 17:34] Lanayx commented on #135
Closed with 1.8.1 release

[2020-12-15 17:34] #135 closed, assigned to nobody

[2020-12-16 09:45] Lanayx opened #136 "Support for connectionsPerBroker"
[Config value](https://github.com/apache/pulsar/blob/branch-2.6/pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf/ClientConfigurationData.java#L64)
This includes handling more than one connection per broker as well as zero connections (which means pooling is disabled)

[2020-12-16 15:16] TjeuKayim opened #138 "Feature request: Expose Message.PublishTime"
Other Pulsar client libraries expose something like [`Message.getPublishTime()`](https://github.com/apache/pulsar/blob/2fb8cfe13130b87cb011c1e37ac5b8dfd5605acb/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Message.java#L90-L96) to read the publish time.

`RawMessage.Metadata` already stores the publish-time, it is just not exposed as part of the public API.

[2020-12-17 09:24] Lanayx commented on #134
@TjeuKayim Hi, I've just found out that the behavior in Java client (2.6.2) is the same. Can you please create an issue in Pulsar repo and link it here? This is the test that I've made:
![image](https://user-images.githubusercontent.com/3329606/102468567-bbffac80-4062-11eb-94a0-59b694a9ddad.png)

[2020-12-17 09:54] #138 closed, assigned to nobody

[2020-12-17 11:03] TjeuKayim commented on #134
That's unexpected, it's also a bug in the Java client. I will create an issue in the `apache/pulsar` repo if I have time next week.

[2020-12-17 11:08] Lanayx commented on #134
I'd better want this to be fixed on broker side, since _getLastMessageIdAsync_ method returns non-batched messageId, therefore the comparison fails. Expected behavior would be to receive a real batched messageId

[2020-12-17 11:50] Lanayx commented on #138
Available in 1.8.2

[2020-12-21 13:13] kuskmen opened #140 "Lazy initialization of consumer"
Hello,

This is most likely I mistake from my side, but I can't seem to find anything on the internet so I will try to take my chances here. Anyway, straight to the topic. I am writing an infrastructure nuget for our company in order to abstract PubSub pattern, ideally, our applications should install this nuget and register `IPubSub` in their application DI container and later work with it. I did

[2020-12-21 13:29] Lanayx commented on #140
@kuskmen Hi, this is indeed the case, if you start producing without any active consumers then the message is gone (but only the first time, once subscription is created the order doesn't matter). A workaround is to set retention to the topic: [example](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/tests/IntegrationTests/commands.txt#L3)

[2020-12-21 13:36] kuskmen commented on #140
Hi, thank you very much for the fast reply, I will read about retention and decide if this is suitable for us.

[2020-12-21 13:36] #140 closed, assigned to nobody

[2020-12-23 11:25] Lanayx opened #141 "Transactions support"

[2020-12-26 11:56] Lanayx commented on #134
Seems to be fixed in 2.7.1 and 2.8 on server https://github.com/apache/pulsar/pull/8779

[2020-12-26 12:32] TjeuKayim commented on #134
Nice, I will update my Pulsar server and see if that solves the issue for me.

[2020-12-27 14:38] TjeuKayim commented on #134
With Pulsar server 2.7.0.1-rc-202012212215 the issue is indeed solved (the test that I posted in the description succeeds).
Thanks for your help!
So `MessageId.CompareTo` didn't need to change after you looked into it?

[2020-12-27 15:18] Lanayx commented on #134
You are welcome! Yes, it doesn't need to change as it conforms to the Java version.

[2020-12-27 15:51] #134 closed, assigned to nobody

[2021-01-24 07:38] wangshuyu opened #143 "ReconsumeLaterAsync : Asking for help."
`c#

var msg = await consumer.ReceiveAsync();
var body = Encoding.UTF8.GetString(msg.Data.ToArray());
if (msg.Properties.Count > 0)//retry
{
    //retry is error, What should I do here?
    _ = consumer.ReconsumeLaterAsync(msg, DateTimeToTimeStamp(DateTime.Now.AddSeconds(20)));
 }
else
{
    //success
    _ = consumer.ReconsumeLaterAsync(msg, DateTimeToTimeStamp(DateTime.Now.AddSeconds(10)));
}
`

[2021-01-24 08:29] Lanayx commented on #143
Hi, @wangshuyu ! Can you please add the error details?

[2021-01-25 03:26] wangshuyu commented on #143
第二次,推送重试 代码报错,提示存在一个messageid.
The second time, the push retrying code reports an error, indicating that there is a message ID

PulsarLogger[0]
      consumer(3, , -1) mailbox failure
      System.ArgumentException: An item with the same key has already been added. Key: RECONSUMETIMES
         at System.Collections.Generic.Dictionary`2.TryInsert(TKey key, TValue value, InsertionBehavior behavior)

[2021-01-25 03:29] wangshuyu commented on #143
@Lanayx

 第二次,推送重试 代码报错,提示存在一个messageid. 谢谢您;
The second time, the push retrying code reports an error, indicating that there is a message ID.Thank you very much;

PulsarLogger[0]
consumer(3, , -1) mailbox failure
System.ArgumentException: An item with the same key has already been added. Key: RECONSUMETIMES
at System.Collections.Generic.Dictionary2.TryInsert(TKey key, TValue value, InsertionBehav

[2021-01-25 06:20] wangshuyu commented on #143
@Lanayx

https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/4833eca1a2c95b047345d7325c1cd2670e55366a/src/Pulsar.Client/Internal/DeadLetters.fs
Code line number: 71 to 83

相同messageid 执行多次ReconsumeLaterAsync错误
Error in reconsumelaterasync multiple times with the same message ID

[2021-01-25 06:26] maliails opened #144 "I didn't understand the pulsar retry queue"
hello，when I was in use pulsar.clinet, a problem in the line of the file: https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/4833eca1a2c95b047345d7325c1cd2670e55366a/src/Pulsar.Client/Internal/DeadLetters.fs ~ 72 line, 84, an error occurred
ERROR Log
` PulsarLogger[0]
      consumer(3, , -1) mailbox failure
      System.ArgumentException: An item with the same key has already been added. K

[2021-01-25 10:16] Lanayx commented on #144
Should be fixed in 1.8.4, please check

[2021-01-25 10:16] Lanayx commented on #143
Should be fixed in 1.8.4, please check

[2021-01-26 00:20] maliails commented on #144
Thank you !

[2021-01-26 05:12] wangshuyu commented on #143
@Lanayx  version 1.8.4 ,The problem has been resolved, thank Lanayx.

[2021-01-26 05:12] #143 closed, assigned to nobody

[2021-01-26 12:34] #144 closed, assigned to nobody

[2021-02-10 00:26] LeoSht opened #145 "Bug: NullReferenceException on SeekAsync using deserialized batched MessageId"
Bug (found in v.1.8.3): NullReferenceException is thrown when performing SeekAsync and supplying a deserialized MessageId. Also, the same error happens when supplying MessageId received from SendAsync.

Sample integration test:
[code]

[2021-02-10 13:24] Lanayx commented on #145
Thanks for reporting! I'll have a look soon

[2021-02-10 22:00] Lanayx commented on #145
@LeoSht Should be fixed in 1.8.5 please check

[2021-02-10 23:10] LeoSht commented on #145
@Lanayx Yes, it appears to be fixed now. Thank you for turning it around so quickly!

[2021-02-10 23:10] #145 closed, assigned to nobody

[2021-02-11 12:44] Lanayx commented on #145
@LeoSht Just wanted to note, that for now it's better to use seek with non-batched messages, since I've found an issue with batched messages: https://github.com/apache/pulsar/issues/9557 , so seeking using serialized batched messageId might not work as expected when your batch is partially acked.

[2021-02-12 13:05] #141 closed, assigned to Lanayx

[2021-02-12 13:07] Lanayx commented on #131
@Sacagawea69, please check 2.0.0 updates. Client state is exposed, the build api has changed to buildAsync. In case transactions are enabled this will check connection to the broker.

[2021-02-12 13:07] #131 closed

[2021-02-12 13:08] Lanayx commented on #98
Closing as won't do, this can be handled by any presto connector library

[2021-02-12 13:08] #98 closed, assigned to nobody

[2021-02-12 19:38] sijie commented on #145
@Lanayx We will follow up on https://github.com/apache/pulsar/issues/9557

[2021-02-16 17:28] sijie opened #146 "MessageID equality problem"
*Problem*

The MessageID returned by a Producer doesn't match the MessageID returned by a Consumer.

The problem is due to the way of comparing MessageID.Type. When comparing MessageID.Type, there should be no need to compare BatchMessageAcker. The MessageID.Type.BatchMessageAcker returned from the producer is `null`, but that returned from the consumer is not `null`. This leads to the difference

[2021-02-16 20:41] Lanayx commented on #146
Thanks for reporting! Will fix it soon

[2021-02-17 07:44] #146 closed, assigned to nobody

[2021-02-22 08:00] RobertIndie opened #147 "Unexpected behavior when seeking and receiving messages in the first batch of the topic"
In the dotnet client, when forcing 100 messages to be put into the same batch, and then seek the middle one like 50, it will start receiving from the first message. If batch sending is not enabled or forced to send one by one, it works normally.

This problem seems to only appear in the first batch of the topic.

Example codes:
[code]

Running these codes will output:
[code]

When uncommenting the

[2021-02-22 09:41] Lanayx commented on #147
Hi, @RobertIndie! Have you enabled batch index acknowledgement on server side?

[2021-02-23 07:09] RobertIndie commented on #147
Do you mean `acknowledgmentAtBatchIndexLevelEnabled` in `broker.conf`? I have set it as the default value `false`.

[2021-02-23 08:38] Lanayx commented on #147
Nevermind, I initially though this has something to to with acknowledgmentAtBatchIndexLevelEnabled, but the issue is that SeekAsync happens after messages were sent from broker to consumer, but before they landed in internal queue. I'll see how to do the workaround, but I think that Java client must be vulnerable to this as well.

[2021-02-23 08:42] RobertIndie commented on #147
I have tested it in the Java client, and the same code does not have such a problem in the Java client.

[2021-02-23 08:47] Lanayx commented on #147
In java it works by pure luck :) There messages appear in the queue before the moment seek response is done, this is because in Java internal message queue is not blocked while waiting for the seek response, so messages usually win during this race condition. In 99.9% cases it will work fine, but sometimes can fail.

[2021-02-23 09:36] Lanayx commented on #147
I've just published 2.0.2, it should fix the issue, can you please check?

[2021-02-23 12:58] RobertIndie commented on #147
Thank you! It works.

[2021-02-23 12:58] #147 closed, assigned to nobody

[2021-02-23 15:52] Lanayx commented on #147
@RobertIndie Nice to hear! Please don't forget to star the project if you find it useful :)

[2021-02-25 00:54] RobertIndie commented on #147
Hi @Lanayx , do you know where the race condition is in the java client? Can we fix this problem?

[2021-02-25 11:34] Lanayx commented on #147
@RobertIndie, the process is the following
1. User calls Seek method
2. Client sends Seek request
3. Client receives Seek response
4. Client clears incoming messages queue
5. Client returns Seek result to User
6. Client receives Reconnect message and starts reconnecting.

I see two possible issues here:
- If message is received by Client before step 4 it will be processed by User even though the S

[2021-02-25 14:22] RobertIndie opened #148 "Forward compatibility error in Avro schema"
When I test the forward compatibility of Avro schema, it throws an exception `Schema mismatch`. This problem does not exist in other schemas like JSON or Protobuf.

I declared two type of message `TestMessageV3` and `TestMessageV4`. `TestMessageV4` is based on `TestMessageV3` and delete an optional fields.
The test step like below:
* Create a consumer that consumes `TestMessageV3` message.
* Creat

[2021-02-25 15:56] Lanayx commented on #148
Sorry, I'm not sure I understand clearly what you mean, should I fix something on Pulsar.Client library side? If yes, would you be able to add an integration test that reproduces the issue?

[2021-02-25 16:23] RobertIndie commented on #148
I have edited the issue description and added some test codes and test output.

[2021-02-25 17:15] Lanayx commented on #148
Thanks, I'll dig into this issue

[2021-02-26 03:41] RobertIndie commented on #147
Thanks for your replying.

In the java client, it has already reset the `startMessageId` when reconnecting to the broker. (in https://github.com/apache/pulsar/blob/935cedaac9cc6d501bb50ff6c65e8ecf328485c4/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L820 and https://github.com/apache/pulsar/blob/935cedaac9cc6d501bb50ff6c65e8ecf328485c4/pulsar-client/src/main/java/org

[2021-02-26 08:11] Lanayx commented on #147
@RobertIndie Yes, I'm aware of that :) That's why I wrote "If message is received by Client **between** 5 and 6 steps", which is before that logic happens

[2021-03-01 11:12] Lanayx commented on #148
@RobertIndie I've checked this issue, and indeed - a verification of the schema compatibility is based on reader aliases, ignoring writer aliases. It seems that it's not .net only issue, I've found similar suggestion https://issues.apache.org/jira/browse/AVRO-1347 which wasn't approved. Looks like we have 2 choices: not change records' names or to force update consumers with a new alias. You can a

[2021-03-01 11:15] #148 closed, assigned to nobody

[2021-03-03 07:42] RobertIndie opened #149 "Performance issue about the AVRO schema"
When I use AVRO schema for message producing and consuming, the performance is much worse than that of JSON schema.

First I performed a single producer and consumer messaging test. The messaging rate of the AVRO schema is much lower than that of JSON, but there is not much difference between the message processing rate of producers and consumers.
Then, I tested it in a relatively complex scenario

[2021-03-03 11:49] Lanayx commented on #149
Thank you, I'll have a look

[2021-03-04 07:18] Lanayx commented on #149
@RobertIndie I've just run all tests on my machine and here are the results:

    SimpleJsonSchema: Input: 1267; Output: 1267
    SimpleAvroSchema: Input: 1267; Ouput: 1267
    TestWithJsonSchema: Input: 1283; Output: 1263
    TestWithAvroSchema: Input: 1280; Output: 1258

Also adding the results when using sendAndForgetAsync instead of sendAsync

    SimpleJsonSchema: Produce: 163974; Consume: 15

[2021-03-05 11:50] Lanayx commented on #149
I've made additional investigation and found that the performance difference between JSON and Avro holds for POCO-based classes for which Avro schema is generated in runtime. To make Avro deserialization faster it's better to use autogenerated Avro classes (like in [this sample](https://github.com/fsharplang-ru/pulsar-client-dotnet/tree/develop/tests/AvroGenerated)), with this change the performan

[2021-03-05 11:50] #149 closed, assigned to nobody

[2021-03-05 12:09] RobertIndie commented on #149
Thank you! @Lanayx . Version 2.0.3 solved my problem.

[2021-03-10 15:45] kuskmen opened #151 "Connection recovery of publisher and consumer?"
Hi guys,

I am trying to write myself integration tests for our company wrapper NuGet regarding ack and nack functionality (basically I want to test that my wrapper doesn't do something wrong).

The test is doing the following things:

[code]

The question is: Do I need to make recovery on my side or there is some configuration that I can tweak on your side so connections that are lost can be retr

[2021-03-10 18:53] Lanayx commented on #151
Hello!
As for first message - it happens because acknowledge doesn't happen immediately, rather by timer, so sometimes ack reaches server before restart, sometimes it doesn't.
Can you please specify the "ages" time please? As well as the time for the pulsar service to become healthy?

[2021-03-10 20:01] kuskmen commented on #151
I gave pulsar service 10-15 seconds after the restart, then initially (before I dropped the timeout) I gave a consumption timeout of 15 seconds before my test fails and again it was very indeterministic whether it will start consuming again for this period or not - sometimes it does sometimes it doesn't. Unfortunately, I cant provide you with deterministic example, but I think it shouldn't take mo

[2021-03-11 10:20] Lanayx commented on #151
Thank you, I think the issue is that pulsar is down for too long, so retries can get up to 1 minute. You can tweak OperationTimeout setting on PulsarClient construction. You should also add logging (like in examples or integration tests in this repo), since the retries should be visible there at Warning level. Also, please check if you are using the latest library version.

[2021-03-11 12:35] kuskmen commented on #151
Okay, good to know. I am using last version of the library what about the message being lost or not coming in order how can I trace that?

[2021-03-11 14:06] Lanayx commented on #151
Yes, you can trace that, just enable logging in debug mode and check ack logs. I don't see the message lost or out of order in your example - it is either processed once or twice

[2021-03-12 03:31] jiazhai opened #152 "The code of Exception handling exceptions differently between Producer and Consumer"
The producer reports exceptions differently than Consumer.  Consumer reports them through TaskCompletionSource (same as v.1.8.x), while Producer seems to throw them directly.

[2021-03-12 04:06] jiazhai opened #153 "Consumer.Seek unexpected behavior when repeat seek"
Thanks to @Lanayx 's help on the former Consumer.Seek issue #147, but seems it was not fixed completely.
Consider the integration test in the attachment. The first time you execute SeekAsync / ReceiveAsync operation sequence – it works. But if you repeat that sequence several times in a row, the test inevitably fails in one of two ways:

1.       Either it reports that Consumer is disconnected (th

[2021-03-12 10:06] Lanayx commented on #152
Hi, @jiazhai ! Can you please give examples with stacktraces?

[2021-03-14 21:55] #153 closed, assigned to nobody

[2021-03-15 09:05] Lanayx commented on #153
Hi, @jiazhai! I've made a fix for the wrong message which will be released in 2.1.0. I couldn't reproduce the fail (your 1st point)

[2021-03-16 07:05] RobertIndie opened #154 "DateTime not supported in schema"
When I use a DateTime type field in the schema, it throws an Expcetion `System.ArgumentException: DateTime not supported`

Sample c# code:
[code]

Is it that DateTime cannot be used here? What is the best practice?

[2021-03-16 07:42] Lanayx commented on #154
Hi, @RobertIndie! Can you please provide the full stacktrace in case of exception next time. Here it is
[code]
As you can see, the exception happens in AvroSchemaGenerator library, can you please create an issue [in it's repo](https://github.com/eaba/AvroSchemaGenerator)

[2021-03-16 08:17] RobertIndie commented on #154
Thank you. I have created an issue: https://github.com/eaba/AvroSchemaGenerator/issues/9

[2021-03-16 09:51] Lanayx commented on #154
A workaround will be not to use DateTime type in DTO. For example in Avro .net library logical types are not supported at all.

[2021-03-20 19:50] Lanayx opened #155 "Add OpenTelemetry support"
https://devblogs.microsoft.com/dotnet/opentelemetry-net-reaches-v1-0/#library-authors
Java implementations for reference https://github.com/riferrei/otel-with-apache-pulsar, https://github.com/streamnative/pulsar-tracing

[2021-03-22 23:47] jiazhai commented on #153
Thanks @Lanayx.

[2021-03-23 12:26] RobertIndie commented on #153
Regard the first point. I found a problem with the test code.
During the random seek, the 99th message may be sought. At this time, the consumer will wait for the 100th message, but the producer no longer sends messages, which will cause the test to remain stuck in this place.

So I change the part `Act` of the code to like this:
[code]
I don’t know if this is the cause of the problem.

[2021-03-23 12:39] Lanayx commented on #153
@RobertIndie I didn't use your code, rather wrote my own test :) The problem is that fix for issue 147 wasn't good enough, rather than ignoring messages before startMessageId, it should ignore all the messages coming between seek request and reconnect, this was covered in the fix to the current issue.

[2021-04-03 13:53] Micker5502 opened #157 "Is serviceUrl Not supp domain"
**I using Pulsar.Client example to do testing. In CsharpExample run Task "RunSimple", I setting var serviceUrl with domain name.
Like:**
`const string serviceUrl = "pulsar://test.example.com:6650"`
**then start debug  and I get this error**
[code]
**But I change serviceUrl to IP address it's work fine, Is this function do not support domain name?**

[2021-04-03 16:11] Lanayx commented on #157
Hi, domain names are supported, you just need to set correct domain, not test.example.com

[2021-04-04 04:46] Micker5502 commented on #157
Yes , test.example.com is sample. I using my own domain name , is not working.

[2021-04-04 08:24] Lanayx commented on #157
Since it's a low level socket exception, not related to pulsar at all,  I'm afraid that I can't help much here. As [SO link suggests](https://stackoverflow.com/questions/29531253/the-requested-name-is-valid-but-no-data-of-the-requested-type-was-found-when) there is an issue with DNS.

[2021-04-05 06:52] Micker5502 commented on #157
ok , I will try to figure out by my self. Thx for reply

[2021-04-05 06:52] #157 closed, assigned to nobody

[2021-04-07 02:52] RobertIndie opened #158 "Concurrency limits issue in PulsarClient"
Here we did two tests.
ProduceConcurrent: Use 100 producers to produce data concurrently to a topic, and then record the latency for each sends operation.
ConsumeProduceConcurrent: Runs a loop of synchronous Consumer.ReceiveAsync and asynchronous Producer.SendAsync operations with 100 producers, and then record the latency in the same way.
In the above tests, we use a single PulsarClient to create

[2021-04-07 08:20] Lanayx commented on #158
Can you please add the code for both tests? (ideally with the ability for me to get those results) There are several things that don't make sense to me - how can ConsumerProduce have lower latency than just Produce, what is the difference between produce1 and produce2, cc_cp1 and cc_cp2, also you wrote the more clients are used the lower is the latency although logically it should be opposite.

[2021-04-11 03:49] tgrieger-sf opened #159 "Mock IConsumer in a unit test"
I'm trying to find a way to mock IConsumer's RecieveAsync method call but I can't figure out how to create a Message to return in the mocked call. Am I missing something or is the only way to create a Message internal to the pulsar client? Or is there a better way to mock an IConsumer (and other interfaces)?

[2021-04-11 06:44] Lanayx commented on #159
Hi! You shouldn't mock interfaces and classes from library, rather create your own abstractions and mock them. IConsumer is an interface for only one reason - there are different implementations of it depending on the topic type.

[2021-04-11 19:33] tgrieger-sf commented on #159
Thanks for the answer. Out of curiosity, was there a design reason for making it that way? Has there ever been any thought to putting an interface on top of the Message object as well?

[2021-04-11 21:33] Lanayx commented on #159
There is no big point in it, since "abstractions must be owned by their consumers" https://mobile.twitter.com/Tyrrrz/status/1312407616295927813 . You should always do it on your side, since if the library changes interface api for some reason - your program will  break in just one place, where you convert message to your abstraction.

[2021-04-12 00:40] tgrieger-sf commented on #159
Makes sense. Thanks for discussing with me.

[2021-04-12 00:40] #159 closed, assigned to nobody

[2021-04-12 16:17] eaba commented on #154
@RobertIndie @Lanayx released fix https://www.nuget.org/packages/AvroSchemaGenerator/1.9.0-beta.2

Logical Types are supported when using `SpecificDatumReader` , `SpecificDatumWriter` and not supported in `ReflectReader`,  `ReflectWriter`

[2021-04-12 18:11] Lanayx commented on #154
@eaba Thank you, can you please give an example of how to use it?

[2021-04-12 18:23] eaba commented on #154
@Lanayx https://github.com/eaba/AvroSchemaGenerator/blob/dev/AvroSchemaGenerator.Tests/LogicalTypeTests.cs

[2021-04-12 18:43] Lanayx commented on #154
Hmm.. Still not getting - how to use it use it in regular case - when defining a dto like in the initial thread message.

[2021-04-12 18:57] eaba commented on #154
The DTO must implement `ISpecificRecord` like below:
[code]

[2021-04-12 19:09] Lanayx commented on #154
I don't think it's a right approach, the schema type is json, so there shouldn't be any dependecy on avro library. We are only interested in schema generation, serialisation is out of scope for this issue.

[2021-04-12 19:14] eaba commented on #154
Probably you used `AvroSchemaGenerator` under the hood to generate schema for JSON - in that case user does not need to worry but when using Avro the DTO must implement `ISpecificRecord` for now until Avro has support for `LogicalTypes` everywhere.

[2021-04-12 19:18] eaba commented on #154
[code]

[2021-04-12 19:19] Lanayx commented on #154
Thank you for the clarification, I'll give it a try

[2021-04-13 03:19] RobertIndie commented on #154
Thank @eaba . But it seems to be too complicated for users to use. Can we implement it like https://github.com/eaba/AvroSchemaGenerator/issues/9#issuecomment-800098319 ?
[code]

[2021-04-13 03:56] eaba commented on #154
The library takes care of this automatically without the user having to use attribute - which is even more simpler.

What part of it is complicated? The DateTime field or the `ISpecificRecord`?

[2021-04-13 08:17] Lanayx commented on #154
@eaba there is something wrong with the new nuget package, can you please have a look? Maybe a regular version is needed, not beta. I'm getting an exception
[code]
Looking at the assembly properties, it seems to be wrong (version 1.0.0.0)
![image](https://user-images.githubusercontent.com/3329606/114520064-b51c2b80-9c49-11eb-95f3-b4858c638cab.png)

compare with
![image](https://user-images.githubu

[2021-04-13 11:21] eaba commented on #154
You may need to update `AvroSchemaGenerator` everywhere
This happens when one of your dependence hold reference to another version....

If the fix is confirmed to work then I will release a proper version

[2021-04-13 12:21] Lanayx commented on #154
Yes, I know about dependencies, the issue is that you didn't specify the assembly version when pushing library to Nuget, can you please fix it?

[2021-04-13 14:24] Lanayx commented on #154
@eaba just checked 1.9.0-beta.5 and it works. However without additional attribute it will always default to logical "Date" type, I still think that adding additional attribute will be beneficial so end user can decide whether he wants "Date" or "Timestamp" or any other logical type avro schema supports. Moreover user might want to have the actual type being int64 while having logical type as Time

[2021-04-13 14:46] eaba commented on #154
That will depend on Avro c#, I will check that out.

[2021-04-13 14:52] eaba commented on #154
Checked. I will work on that

[2021-04-13 15:26] Lanayx commented on #154
I think it shouldn't depend on Avro, the attribute should only exist in AvroGenerator library, it's only purpose is to generate additional `"logicalType": "date"` line in schema definition.

[2021-04-13 15:41] eaba commented on #154
Yeah....just checked to make sure it is implemented

[2021-04-13 17:50] eaba commented on #154
@Lanayx Implemented in the latest package

[code]

[2021-04-13 21:11] Lanayx commented on #154
Great! Will have a look tomorrow

[2021-04-14 10:04] Lanayx commented on #154
@eaba I did few tries and got the following exception
[code]

[2021-04-14 11:06] eaba commented on #154
`TimeMillisecond` can only be used on `TimeSpan`
[code]

[2021-04-14 12:05] Lanayx commented on #154
@eaba Ok, I think we are good to go with that :)

[2021-04-14 16:24] #154 closed, assigned to nobody

[2021-04-20 06:31] fjod commented on #155
So as far as I understood for now:

There are already interfaces for it:
https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/6197029799c7e577bacf6a79d37e25b220d1d752/src/Pulsar.Client/Api/IProducerInterceptor.fs

https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/6197029799c7e577bacf6a79d37e25b220d1d752/src/Pulsar.Client/Api/IConsumerInterceptor.fs

So we can create implementations

[2021-04-20 12:35] Lanayx commented on #155
My understanding is that we create another nuget library `Pulsar.Client.Otel` where we place 2 implementations of the interfaces you mentioned above. We can keep it in this repository or create another repository with the source code and console examples. Users should be able to configure their own exporters, the injection api should be just like [in the example](https://github.com/riferrei/otel-w

[2021-04-22 12:25] Lanayx commented on #132
Closing as implemented by @fjod

[2021-04-22 12:25] #132 closed, assigned to fjod

[2021-04-23 06:44] fjod commented on #155
I think simple console output for test purposes should be enough? In example, big piece of work is about elastic/kibana/docker etc. I will spend more time wiring nice output than writing code

[2021-04-23 06:46] Lanayx commented on #155
Yes, it will be enough

[2021-04-26 10:52] fjod commented on #155
I got question about Propagation & Baggage API.  Propagatation is [here](https://github.com/open-telemetry/opentelemetry-dotnet/blob/main/src/OpenTelemetry.Api/README.md)  (scroll down) and [General info about Baggage](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/baggage/api.md). So there is an example with Rabbit MQ where it creates [props](https://github.

[2021-04-26 13:26] Lanayx commented on #155
I think we do need Propagation functionality, since it [was implemented in Java](https://github.com/riferrei/otel-with-apache-pulsar/blob/main/brand-estimator/src/main/java/com/riferrei/otel/pulsar/OTelProducerInterceptor.java#L75-L76). As for Baggage API, I don't think we should use it, it's not planned https://github.com/streamnative/pulsar-tracing/issues/12

[2021-05-11 14:37] #155 closed, assigned to fjod

[2021-05-12 12:43] Lanayx commented on #111
Seems to be the same issue as https://github.com/apache/pulsar/issues/10515

[2021-05-31 05:20] fjod commented on #119
To write&debug this we will need some oauth2 server; I found [this](https://www.ory.sh/run-oauth2-server-open-source-api-security/) which I can run in Docker. Should I try to find another solution that can be used not only by me (free & running oauth2 server somewhere)?

upd: looks like I can use aws cognito with it's free tier for this purpose

[2021-05-31 05:33] fjod commented on #119
Also this part is very unclear to me "You can use OAuth 2.0 access tokens to identify a Pulsar client and associate the Pulsar client with some "principal" (or "role"), which is permitted to do some actions, such as publishing messages to a topic or consume messages from a topic." Who can use tokens? Where to define these roles? I found [something](https://dev.to/greenroommate/apache-pulsar-oauth2

[2021-05-31 07:41] Lanayx commented on #119
You are free to use any oauth2 server for writing/debugging purpose, we won't write integration tests for that. I can recommend using Google as such server, it should be easier than Cognito.

[2021-05-31 07:50] Lanayx commented on #119
Tokens are given to the client by OAuth2 server. The role will be encoded into such token. Pulsar server will grant permissions based on this role. To associate permissions with the role use the following link https://pulsar.apache.org/docs/en/admin-api-permissions/

[2021-06-02 06:43] fjod commented on #119
Looks like they used https://auth0.com/ for writing & testing initial code, at least samples lead there. I will stick to it too, Google is complicated for me :/

[2021-06-02 07:14] Lanayx commented on #119
Ok, no problem :)

[2021-06-03 10:49] fjod commented on #119
How we should behave in case of unsuccsessful auth?
In java code it just throws custom [exception ](https://github.com/apache/pulsar/blob/6704f12104219611164aa2bb5bbdfc929613f1bf/pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/oauth2/protocol/TokenClient.java#L105)
In F# tls code it also throws using [failwith ](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/6197029799c7

[2021-06-03 11:02] Lanayx commented on #119
We should throw TokenExchangeException as well, you can add it to the [list of known exceptions](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/src/Pulsar.Client/Api/PulsarClientException.fs):

[2021-06-14 22:07] #119 closed, assigned to fjod

[2021-06-14 22:10] Lanayx commented on #151
Closing as inactive

[2021-06-14 22:10] #151 closed, assigned to nobody

[2021-06-21 11:31] danielcrabtree opened #167 "Support for Transactions in Pulsar 2.8.0"
I'm wondering if the client supports Pulsar 2.8.0 yet?

I am trying to use Transactions and the C# Transactions example does not run. It fails with the following exception:
```Unhandled exception. System.AggregateException: One or more errors occurred. (org.apache.pulsar.transaction.coordinator.exceptions.CoordinatorException$TransactionNotFoundException: The transaction with this txdID `(1,4)`not

[2021-06-21 11:43] Lanayx commented on #167
Hi, @danielcrabtree ! Thanks for asking, transactions functionality was tested with Pulsar 2.7.*, it seems that the transactions support on server has changed significantly in 2.8.0, so client update is required. I'll start working on the update this week.

[2021-06-21 12:01] danielcrabtree commented on #167
That's great! Thanks @Lanayx

I'll be happy to help test the update once it's ready.

[2021-06-25 11:45] Lanayx opened #168 "Change all mailboxes to channels to improve performance"
[Benchmark results](https://github.com/Lanayx/hlc2/blob/master/src/Benchmarks/AsyncReply.fs)

[2021-06-26 10:24] Lanayx opened #169 "Support memory limit"
[Documentation](https://github.com/apache/pulsar/wiki/PIP-74%3A-Pulsar-client-memory-limits)
[PR for producer](https://github.com/apache/pulsar/pull/8965)

[2021-06-26 10:34] Lanayx opened #170 "AckReceipt support"
[PR reference](https://github.com/apache/pulsar/pull/8996)

[2021-06-26 10:54] Lanayx opened #171 "Add support for pooled memory buffers in consumer messages"
[Description](https://github.com/apache/pulsar/wiki/PIP-83-%3A-Pulsar-client%3A-Message-consumption-with-pooled-buffer)
[PR](https://github.com/apache/pulsar/pull/10184)

[2021-06-26 11:15] Lanayx opened #172 "Support exclusive producer"
[Documentation](https://github.com/apache/pulsar/wiki/PIP-68%3A-Exclusive-Producer)
[PR](https://github.com/apache/pulsar/pull/8685)

[2021-06-26 11:25] Lanayx opened #173 "Support multi-topic Reader"
[PR](https://github.com/apache/pulsar/pull/9995)

[2021-06-26 11:31] Lanayx opened #174 "Support native schema information"
[Documentation](https://github.com/apache/pulsar/wiki/PIP-85-%3A-Add-Schema-Information-to-Message-in-Java-Client-API)
[PR](https://github.com/apache/pulsar/pull/10476)

[2021-06-26 15:41] Lanayx opened #175 "Support seek by function"
[Api ref](https://github.com/apache/pulsar/blob/branch-2.8/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Consumer.java#L602-L631)
[PR](https://github.com/apache/pulsar/pull/10033)

[2021-06-27 16:13] Lanayx opened #176 "Update github actions cluster to 2.8"
- [ ] update docker images to 2.8.0
- [ ] remove bin/set_python_version.sh from docker-compose.yml
- [ ] enable disabled transaction integration tests (marked with TODO)
- [ ] make sure init-standalone.sh is properly executed
- [ ] make sure github actions become green

[Docker compose location](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/tests/compose/standalone/docker-comp

[2021-06-27 18:57] Lanayx commented on #167
@danielcrabtree Hi, I've just released 2.5.0, you are welcome to try. Client 2.5.0 will be incompatible with broker 2.7.* transactions

[2021-06-29 01:35] danielcrabtree commented on #167
@Lanayx Thanks for getting this updated. I've done some initial tests with 2.5.0 and everything seems to be working well so far.

[2021-06-30 13:54] #176 closed, assigned to Lanayx

[2021-06-30 13:55] Lanayx commented on #167
There is one additional fix in 2.5.2, now all transaction tests are passing, closing the ticket

[2021-06-30 13:55] #167 closed, assigned to Lanayx

[2021-07-14 08:36] Lanayx opened #177 "Add support for message-level replication settings"
[Java api reference ](https://github.com/apache/pulsar/blob/master/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/TypedMessageBuilder.java#L171-L185)

[2021-07-19 08:19] Lanayx opened #178 "Add GetPartitionsForTopic api to pulsar client class"
[Code reference](https://github.com/apache/pulsar/blob/branch-2.8/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/PulsarClient.java#L238-L253)

[2021-07-20 13:20] #177 closed, assigned to nobody

[2021-07-20 20:10] TiraelSedai commented on #168
I'm working on it, albeit a bit slow.

[2021-07-21 08:17] Lanayx commented on #168
@TiraelSedai You can use those 2 helpers to simplify changes
[code]

Usage:
Old : `(fun epoch -> this.Mb.Post(ProducerMessage.ConnectionOpened epoch))`
New: `(fun epoch -> post this.Mb(ProducerMessage.ConnectionOpened epoch))`

[2021-08-08 07:38] Lanayx commented on #175
Implemented in 2.7.1

[2021-08-08 07:38] #175 closed, assigned to nobody

[2021-08-28 10:45] #168 closed, assigned to TiraelSedai

[2021-08-30 17:19] mike3041 opened #184 "Can this C# client run under .NET-Standard or .NET-Framework (instead of .NET-Core)?"
My environment doesn't allow .NET-Core. It only allows .NET-Framework 4.7

[2021-08-30 18:05] Lanayx commented on #184
Hi! This is not C# client, this is .NET client, which is packaged as .NET Standard 2.0, you can see it on nuget page

[2021-09-02 09:18] Lanayx commented on #184
Example project with old dotnet [is here](https://github.com/fsharplang-ru/pulsar-client-dotnet/tree/develop/examples/OldDotnetExample)

[2021-09-02 09:18] #184 closed, assigned to nobody

[2021-09-09 03:56] tgrieger-sf opened #187 "Terminating a topic does not have the expected behavior from the client"
When I terminate a topic from the REST API on a standalone Pulsar container (2.8.0), calling `consumer.ReceiveAsynce()` does not have the expected behavior. I expect (this line of code)[https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/src/Pulsar.Client/Internal/ConsumerImpl.fs#L1079] to be hit to end the wait on the receive. Instead, it blocks forever.

Am I doing something wrong

[2021-09-09 08:45] Lanayx commented on #187
Hi! It should be fixed in 2.8.1, can you please check?

[2021-09-09 11:07] tgrieger-sf commented on #187
@Lanayx That did fix our issue. Thanks!

[2021-09-09 11:07] #187 closed, assigned to nobody

[2021-09-14 03:47] RobertIndie opened #188 "Release for enum schema type supprot"
Since https://github.com/eaba/AvroSchemaGenerator/pull/19 has been merged and AvroSchemaGenerator 2.2.0 has been released. Could we cut a new release for this client? @Lanayx

[2021-09-14 07:03] Lanayx commented on #188
Hi, @RobertIndie ! There is no need to cut another release, dependency can be updated separately.

[2021-09-14 07:54] RobertIndie commented on #188
Get it. Thanks!

[2021-09-14 07:54] #188 closed, assigned to nobody

[2021-09-14 19:54] tgrieger-sf opened #189 "Issues starting transactions"
I am using a Pulsar 2.8.0 container starting in standalone mode. I am following this page to enable transactions https://pulsar.apache.org/docs/en/next/txn-use/ (specifically, setting `transactionCoordinatorEnabled` to true and running `bin/pulsar initialize-transaction-coordinator-metadata -cs 127.0.0.1:2181 -c standalone`).

When I try to start a transaction with version 2.8.1, I get an exceptio

[2021-09-15 09:34] Lanayx commented on #189
Hi, it seems to be a misconfiguration problem, here's the relevant code https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java#L1931. What is the output of the command `bin/pulsar initialize-transaction-coordinator-metadata -cs 127.0.0.1:2181 -c standalone`? Does it log successful start message? If it does the issue might happen bec

[2021-09-15 14:07] tgrieger-sf commented on #189
Here's the output of initializing the transaction coordinator.

[code]

[2021-09-15 15:13] Lanayx commented on #189
This log seems to be ok, can you inspect broker's log when the error happens?

[2021-09-15 17:14] tgrieger-sf commented on #189
There are no messages happening in the output of the container (if that's the broker's log) when that exception occurs. There is output when the topics and subscriptions are created.

[2021-09-15 17:37] tgrieger-sf commented on #189
I got the transactions working. Instead of updating the values and running the transaction initialization command, I run this script at startup:

[code]

Thanks for looking into it, @Lanayx

[2021-09-15 17:37] #189 closed, assigned to nobody

[2021-09-28 15:46] Lanayx opened #191 "Update opentracing constants in Pusar.Client.Otel to standard"
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/messaging.md

[2021-09-30 11:34] Lanayx commented on #191
CC @Ilchert

[2021-10-20 16:24] #191 closed, assigned to nobody

[2021-11-10 10:52] RobertIndie opened #194 "DateTime is not supported when using Protobuf native schema"
We found a problem with F# client parsing protobuf native with `DateTime` type field.
In the F# client, the VirtualFile implementation only supports reading a single proto file, but not other dependent proto files.
Here is the current VirtualFile implementation:
[code]
As an example, if we use the following class to generate a protobuf definition.
[code]
The `DateTime` type depends on [`/google/pr

[2021-11-10 11:06] RobertIndie commented on #194
I have created a PR to fix this problem: https://github.com/fsharplang-ru/pulsar-client-dotnet/pull/195

[2021-11-11 09:38] Lanayx opened #196 "Replace testAsync to testTask everywhere in unit and integration tests"
So all `|> Async.AwaitTask` will be removed

[2021-11-11 11:51] #194 closed, assigned to RobertIndie

[2021-12-01 14:34] nrenzoni opened #199 "Make acknowledgments to be sent on consumer close"
# Setup

running pulsar in docker:
```docker run -it -p 6650:6650 -p 8080:8080 apachepulsar/pulsar:2.8.1  bin/pulsar standalone | tee /tmp/pulsar-docker-log```

using Pulsar.Client 2.9.3, net6.0
OS: 5.10.0-0.bpo.3-amd64 #1 SMP Debian 5.10.13-1~bpo10+1 (2021-02-11) x86_64 GNU/Linux

C# code: [gist](https://gist.github.com/nrenzoni/1d86d913b9a50ee14b4851adc5bc3011)

---

# Summary of client code:

c

[2021-12-02 01:59] LeoSht opened #200 "Bug: Cancellation regression"
Hi,
The following test passes when compiled against the latest "develop" branch source code, but fails if compiled against the NuGet starting with v.2.9.2:
[code]

[2021-12-02 07:59] Lanayx commented on #199
Hi, @nrenzoni ! This is an expected outcome, since the whole purpose of UnsubscribeAsync is to delete subscription, what did you expect this method to do?

[2021-12-02 13:26] Lanayx commented on #200
Thank you for creating an issue. I was able to reproduce the issue and found out that the issue is connected with Release build mode and new F# 6 tasks builder, however I hasn't been able to make a simple repro to create issue in fsharp repository. Will keep you updated on the issue as I move forward with it.

[2021-12-02 13:45] nrenzoni commented on #199
Hi @Lanayx , thank you so so much for responding!

You're right, that was a silly mistake by me and I should have noticed it!

However, I removed the line ```await consumer.UnsubscribeAsync();``` and noticed that the Pulsar stats ```markDeletePosition``` is still set to ```10:0``` and ```messagesConsumedCounter``` is still set to ```0``` (i.e., the ack message was not processed by Pulsar), even th

[2021-12-02 15:10] Lanayx commented on #199
@nrenzoni can you please add `await Task.Delay(110)` after the acknowledgment and test again? The purpose of this delay is to wait for ack to be sent, since for performance reasons it's not sent immediately, but in batches.

[2021-12-02 15:28] nrenzoni commented on #199
@Lanayx thank you for the quick response, this solved it!

Perhaps ```consumer.DisposeAsync()``` should send all outstanding (queued) ack messages to the broker? My code had this line in it, and yet the acks aren't sent.

(Also another quick solution would be ```client.NewConsumer()...AcknowledgementsGroupTime(TimeSpan.Zero)```, causing the acks to be sent immediately.)

The simple example here: [

[2021-12-02 15:43] Lanayx commented on #199
I'm glad that it helped! As for examples, they actually will all work correctly, since there is `Console.ReadKey()` and the end of the program :) I was reluctant to add this to Simple example because people can think that they have to wait after each acknowledgment, which is definitely not the case (the wait should really happen only before closing the consumer)

As for sending on Dispose it's a g

[2021-12-02 17:37] nrenzoni commented on #199
Ah good catch and thanks for pointing out the ```Console.ReadKey()``` behavior, I was looking just at ```Simple.cs``` and not the entry point code in ```Program.cs```. Your logic is sound regarding not wanting to confuse people with having to wait after every ack.

I did a static code overview of the Java Pulsar client, it looks like it does flush pending acks when ```consumer.closeAsync()``` is c

[2021-12-02 17:56] Lanayx commented on #199
Thanks for the investigation, you are right :) So I'll keep the issue open to close after updating the behavior to conform Java's

[2021-12-02 20:29] nrenzoni commented on #199
Ok sounds good, thanks for quick follow-up / responses!

[2021-12-05 15:28] Lanayx commented on #199
@nrenzoni This should be fixed in 2.9.4, can you please check

[2021-12-05 15:29] Lanayx commented on #200
@LeoSht This should be fixed in 2.9.4, can you please check

[2021-12-06 02:56] nrenzoni commented on #199
@Lanayx I ran the consumer dispose (```await using var consumer1```) on a simple test case, it appears to flush outstanding acks as expected. I can't comment on the actual F# code since I'm not versed in F# (and the syntax seems rather complicated compared to C# or other coding languages!).

 Good job on this fix and on the timeliness!

[2021-12-06 08:22] Lanayx commented on #199
Thanks for confirming, I'm closing the ticket.

BTW, as for F# vs C# complexity I've got a presentation you might find interesting :) https://docs.google.com/presentation/d/1PMFcU-VPkexfHG9iKO8EgBhPYkrGFg1Uy_7jZ-UuqWw/edit?usp=sharing

[2021-12-06 08:22] #199 closed, assigned to nobody

[2021-12-06 17:08] nrenzoni commented on #199
Thanks @Lanayx  for the slides! :grinning:

[2021-12-07 09:22] ThomasHarzer opened #201 "It is not possible to use an enum in the same schema twice"
I want to use a schema derived from a record class using the same enum twice:

[code]
When I'm going to instantiate a producer like this (Schema.JSON or Schema.AVRO doesn't matter):

[code]

it will produce an exception like this:

`Avro.AvroException: Duplicate schema name ArticleState`

Obviously, the enum in the first place is redefined and not reused in the second place. Is this a bug or do I

[2021-12-07 09:54] Lanayx commented on #201
Hi, @thomasharzer ! Can you please create an issue in https://github.com/eaba/AvroSchemaGenerator repository as Pulsar.Client relies on it for schema generation

[2021-12-08 20:42] LeoSht commented on #200
@Lanayx Thank you for the quick turnaround. I confirmed that the regression is fixed in 2.9.4.

[2021-12-08 21:03] #200 closed, assigned to nobody

[2022-01-05 05:45] Lanayx commented on #201
Closing issue as abandoned

[2022-01-05 05:45] #201 closed, assigned to nobody

[2022-01-05 07:01] Lanayx commented on #158
@RobertIndie I've just reread the description and understood that I misread it in the first place. The architecture of PulsarClient is that it should be used as a singleton, this allows the shorcuts such as [static logger](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/src/Pulsar.Client/Common/Log.fs#L9)

[2022-02-20 15:05] Lanayx commented on #196
Closed by #203

[2022-02-20 15:05] #196 closed, assigned to nobody

[2022-03-04 14:07] ThomasHarzer opened #206 "The oAuth2 private key file needs to be writeable"
This is not necessary and it makes it impossible to read from read-only file systems like Kubernetes configmaps.

Please open the `FileStream` with a third parameter `FileAccess.Read` since the default value is `FileAccess.ReadWrite`.

[2022-03-04 14:57] Lanayx commented on #206
Hi! Will you be able to send a PR with the fix?

[2022-03-09 13:02] #206 closed, assigned to nobody

[2022-04-11 04:02] adminnz opened #207 "Performance Discrepancy between pulsar-client-dotnet and DotPulsar"
When running a simple console App to publish messages (as byte[]) the most basic producer in DotPulsar and pulsar-client-dotnet.
Against a locally running Pulsar (in minikube), results in DotPulsar being able to produce twice as many messages per second, as this library.

[code]

vs DotPulsar which from what I can tell is the exact same config.
[code]

Note: I've omitted the App.Metrics code used

[2022-04-11 06:07] Lanayx commented on #207
Hi! If I recall correctly dotpulsar doesn't support batching, so it probably defaults to unbatched message send. Pulsar-client-dotnet sticks to Java defaults with batching enabled with 1ms batch size, so if I expect you to be able to send around 1k messages in the mentioned configuration. So disabling batching should help, but for real highload you need to keep batching and not awaiting each send

[2022-04-12 01:18] adminnz commented on #207
Hmm, okay, well i wasn't even able to achieve over 63 messages/second with the above code.
Note: this is on a rather limited laptop with minikube, so might be a bad test machine.

[2022-04-12 06:16] Lanayx commented on #207
Hmm, you are right, 1 ms is for gathering a batch and then it waits for the acknowledgement much longer. Anyway you should try the ways I described above

[2022-04-18 09:22] Lanayx commented on #207
@adminnz Hey, any updates?

[2022-04-21 16:22] DR9885 opened #208 "Need ability to read events for a given key"
In some cases I only want the events for a given key, it would be nice if pulsar client could allow reading only for this one key.

Example: (read events for key 123)
[code]

[2022-04-21 17:00] Lanayx commented on #208
Hello! If you want server-side key filtering, then it's not supported by pulsar. As for client-side filtering we are sticking to the [Java functionality ](https://pulsar.apache.org/docs/en/client-libraries-java) so adding new api's is restricted. Also you can easiliy implement client side filtering yourself when handling messages.

[2022-04-21 23:53] DR9885 commented on #208
@Lanayx if I wanted server-side key filtering, should I just open a ticket here? https://github.com/apache/pulsar

[2022-04-22 05:01] Lanayx commented on #208
Yes, but I think such ticket must already exist, so you better try finding it and voting

[2022-04-22 07:46] DR9885 commented on #208
didnt see one, opened ticket: https://github.com/apache/pulsar/issues/15268

[2022-04-22 07:46] #208 closed, assigned to nobody

[2022-05-04 07:47] Lanayx commented on #158
Closing as by design

[2022-05-04 07:47] #158 closed, assigned to nobody

[2022-06-09 10:40] Lanayx commented on #207
Closing as abandoned

[2022-06-09 10:40] #207 closed, assigned to nobody

[2022-07-09 00:55] DR9885 opened #210 "KeyShared fails to partition correctly when SequenceId is not set"
Is it expected behavior, that KeyShared fails to partition correctly when SequenceId is not set?

[2022-07-09 06:57] Lanayx commented on #210
Hi, no this is not expected. [Here are](https://github.com/fsprojects/pulsar-client-dotnet/blob/develop/tests/IntegrationTests/Keys.fs) the key-related integration tests, feel free to add a PR with a failing test.

[2022-07-09 08:10] DR9885 commented on #210
Is it ok if I just give a C# Example?

[2022-07-09 08:20] Lanayx commented on #210
C# example won't run integration test after you submit it :(

[2022-07-09 18:00] DR9885 commented on #210
nvm, It was bad data in a test.

[2022-07-09 18:00] #210 closed, assigned to nobody

[2022-07-26 06:24] RobertIndie opened #211 "How to use Logical types in Avro schema?"
I want to use the logical types in the Avro schema. But seems that Avro C# doesn't support logical types.
It will throw the exception like below:
[code]
Here is the class I used:
[code]

And then I try to use SpecificDatumWriter to encode the message. The message class is

[code]

And it throwed:
[code]

The root cause is that the client tried to get a field called "_SCHEMA" from the message class

[2022-07-26 11:26] Lanayx commented on #211
Hi, it seems that we depend on this field to get the actual schema. You can see [it being generated](https://github.com/fsprojects/pulsar-client-dotnet/blob/develop/tests/AvroGenerated/SampleClass.cs#L18) when using Avro generator, so I think you need to add it manually when using hand-written classes. If it won't work you might need to try contribute to Avro itself to add logical types support

[2022-07-26 11:30] Lanayx commented on #211
By the way, it seems that logical types might be already supported, https://avro.apache.org/docs/1.11.0/api/csharp/html/classAvro_1_1Util_1_1LogicalType.html , however I haven't tried it

[2022-09-13 10:54] vaalkor opened #212 "Deadlock in UnackedMessageTracker?"
Hi there! I seem to be encountering a consumer hang when running this test project: https://github.com/vaalkor/PulsarTest

It hangs after printing this a few times:
warn: PulsarLogger[0]
mt/consumer(0, b016a) UnackedTracker 230 messages have timed-out

It hangs with pulsar.client 2.9 onwards. If I downgrade to 2.8.1 there's no hang. Turning off EnableRetry on the consumer changes the behaviour a l

[2022-09-13 14:52] Lanayx commented on #212
Hi! Thank you for reporting the issue. I'll look into the issue within several days. In 2.9 there was a major change in task library, this might be the cause. Right now task builders are context-sensitive, and we'll be able to move to context insensitive versions soon, since [the fix ](https://github.com/dotnet/fsharp/pull/13865) landed 4 days ago. So once new fsharp compiler version is out (.net

[2022-09-13 16:05] vaalkor commented on #212
Interesting. That sounds like a plan. Thanks!

[2022-09-16 12:11] Lanayx commented on #212
@vaalkor I think I've found the issue, published 2.10.3 with the fix, please test if it works for you

[2022-10-06 13:52] Iezious opened #213 "Client doesn't use all the service URLs specified."
[code]

The problem in the code above is that the first broker in the a list is wrong (we are emulating a prod fault when the broker is overloaded/temporary down/etc and haven't responded in a time).

The expected behavior - the client is to try to connect to the next broker in a list.
The actual - it fails with the connect timeout exception.

[2022-10-07 07:12] Lanayx commented on #213
Hi! Is there a stacktrace for timeout exception? I've made a fix, but wanted to make sure it's fixing the right thing

[2022-10-07 09:19] Iezious commented on #213
[code]

[2022-10-07 12:57] Lanayx commented on #213
Thanks! This means that the fix should help, I'll publish the new version soon

[2022-10-07 13:18] Lanayx commented on #213
https://www.nuget.org/packages/Pulsar.Client/2.10.4 please verify

[2022-10-17 09:49] Lanayx commented on #212
Closing as abandoned

[2022-10-17 09:49] #212 closed, assigned to nobody

[2022-10-17 21:06] vaalkor commented on #212
Hi, sorry I didn't reply to this. Getting pulled in many directions at work and forgot about it! I did run it again and the deadlock seemed to be gone but things seemed quite slow. I didn't look too deeply into it though because of other concerns. I will have to do some proper testing and get back to you.

[2022-10-18 06:58] Lanayx commented on #212
@vaalkor I see, you are welcome to create another issue about the slowness concern.

[2022-11-18 09:26] Lanayx commented on #213
Closing as abandoned

[2022-11-18 09:26] #213 closed, assigned to nobody